In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
os.listdir()

['.ipynb_checkpoints',
 'Basic.ipynb',
 'Classwork-Numpy.ipynb',
 'Classwork-Pandas.ipynb',
 'customers-1000.csv',
 'Exercise.ipynb',
 'freecodecamp.ipynb',
 'freecodecampDS2.ipynb',
 'freecodecampNumpyPandas.ipynb',
 'laptop_price.csv',
 'laptop_price2.csv',
 'Myfile.csv',
 'Myfile_cleaned.csv',
 'mypythonWorkbook.ipynb',
 'My_Module.ipynb',
 'My_Module.py',
 'my_text_file.txt',
 'New Folder',
 'Notes & Problems.ipynb',
 'players_20.csv',
 'Project_Web_Scraping_using_Pandas.ipynb',
 'Test.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 '__pycache__']

## Data Extraction with Pandas

#### Selecting data : loc(), iloc() methods

In [4]:
# loc() is label based, so we have to specify rows and columns based on their index/row and column labels
# iloc() is integer position based, so we have to specify rows and columns by their integer position values (0 based integer position)

In [2]:
df = pd.read_csv("players_20.csv")
pd.set_option("display.max_rows",20)  # here n is the total number of rows to be placed
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

Difference between loc and iloc methods

loc:

syntax: df.loc['Zero'] - for value
        df.loc[['Zero','two']] - for list
        df.loc['zero':'two'] - for slicing

iloc:

syntax: df.iloc[0] - for value
        df.iloc[[0,2]] - for list
        df.iloc[[0:2]] - for slicing

In loc method, the start and end elements of the slicing is included
But in iloc method, the start element is only included

In [4]:
# set a column as an index

df.set_index("short_name",inplace=True)
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [5]:
# extract only the required columns

df = df[["long_name","age","dob","height_cm","weight_kg","nationality","club"]]
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

### 1.  Selecting with a single value

In [8]:
# get all data about L.Messi

df.loc["L. Messi"]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [13]:
# get the height of L.Messi

df.loc["L. Messi","height_cm"]

np.int64(170)

In [14]:
# get all rows inside the 'height_cm' column

df.loc[:,"height_cm"]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [15]:
# get all columns that correspond to the index 'L.Messi'

df.loc["L. Messi",:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

### 2. Selecting with a list of values

In [17]:
# get all data about L.Messi and Cristiano Ronaldo

df.loc[["L. Messi","Cristiano Ronaldo"]]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [18]:
# get the height of L.Messi and Cristiano Ronaldo

df.loc[["L. Messi","Cristiano Ronaldo"],"height_cm"]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [21]:
# get the height and weight of L.Messi

df.loc["L. Messi",["height_cm","weight_kg"]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [22]:
# get height and weight of L.Messi and Cristiano Ronaldo

df.loc[["L. Messi","Cristiano Ronaldo"],["height_cm","weight_kg"]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

### 3. Selecting a range of data with a slice

In [23]:
# slice column labels

players = ["L. Messi","Cristiano Ronaldo"]
df.loc[players,"age":"club"]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [24]:
# slice index labels
columns= ["age","dob","height_cm","weight_kg"]
df.loc["L. Messi":"E. Hazard",columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74

In [31]:
df.index[:10]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard',
       'K. De Bruyne', 'M. ter Stegen', 'V. van Dijk', 'L. Modrić',
       'M. Salah'],
      dtype='object', name='short_name')

In [32]:
df.columns[:5]

Index(['long_name', 'age', 'dob', 'height_cm', 'weight_kg'], dtype='object')

### 4. Selecting with conditions

In [33]:
# one condition: select player with height above 180 cm

columns= ["age","dob","height_cm","weight_kg"]
df.loc[df["height_cm"]>180, columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [36]:
# multiple conditions: select player with height above 180 cm and from Argentina

df.loc[(df["height_cm"]>180) & (df["nationality"]=="Argentina"),:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC
...,...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors

### Selecting elements by index position with .iloc() method

### 1. Selecting with a single value

In [42]:
# get the height of L.Messi

df.iloc[0,3]

np.int64(170)

In [46]:
# get the weight of Cristiano Ronaldo

df.iloc[1,4]

np.int64(83)

In [48]:
# get all rows inside the 'height_cm column'

df.iloc[:,3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [49]:
# get all columns that correspond to the index 'L.Messi'

df.iloc[0,:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

### 2. Selecting a list of values

In [50]:
# get all data about L.Messi and CR7

df.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [51]:
# get the height of Messi and CR7

df.iloc[[0,1],3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [52]:
# get the height and weight of Messi

df.iloc[0,[3,4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [53]:
# get height and weight of Messi and CR7

df.iloc[[0,1],[3,4]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

### 3. Selecting a range of data with a slice

In [6]:
df.columns

Index(['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality',
       'club'],
      dtype='object')

In [56]:
# slice column labels age/club

players = [0,1]
df.iloc[players,1:7]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [10]:
df.index[9]

'M. Salah'

In [57]:
# slice index labels (top1 to top10 players)

df.iloc[0:10,1:5]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modrić           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

### 4. Selecting with conditions

iloc cannot accept a boolean series, but only a boolean list.

We have to use the list() function to convert a series into a boolean list

In [13]:
# one condition: select player with height above 180 cm

# columns= ["age","dob","height_cm","weight_kg"]

columns = [1,2,3,4]
df.iloc[list(df["height_cm"]>180), columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [62]:
# multiple conditions: select player with height above 180 cm and from Argentina

df.loc[list((df["height_cm"]>180) & (df["nationality"]=="Argentina")),:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC
...,...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors

## Set new value for a cell in a dataframe

#### 1. Set value to one cell

In [14]:
# update L.Messi height

df.loc["L. Messi","height_cm"] = 175
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

#### 2. Set value to entire column

In [15]:
# set height of all players to 190

df.loc[:,"height_cm"] = 190
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,190,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,190,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,190,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,190,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,190,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,190,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,190,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,190,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,190,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

#### 3. Set value to entire row

In [18]:
# set null values to all columns that corresponds to player ranked last

df.iloc[-1,:] = np.nan
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,186.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,177.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 4. Set value to multiple cells

In [15]:
df.loc[["L. Messi","Cristiano Ronaldo"],"height_cm"] = 175
df

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,186.0,79.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,177.0,66.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 5. Set value for rows matching a condition

In [22]:
columns = ["age","dob","height_cm","weight_kg"]
df.loc[df["height_cm"]> 180, columns] = 0
df[["age","dob","height_cm","weight_kg"]]

                    age         dob  height_cm  weight_kg
short_name
L. Messi           32.0  1987-06-24      175.0       72.0
Cristiano Ronaldo  34.0  1985-02-05      175.0       83.0
Neymar Jr           0.0           0        0.0        0.0
J. Oblak            0.0           0        0.0        0.0
E. Hazard           0.0           0        0.0        0.0
...                 ...         ...        ...        ...
Shao Shuai          0.0           0        0.0        0.0
Xiao Mingjie        0.0           0        0.0        0.0
Zhang Wei           0.0           0        0.0        0.0
Wang Haijian        0.0           0        0.0        0.0
Pan Ximing          NaN         NaN        NaN        NaN

[18278 rows x 4 columns]

## Drop rows or columns from a dataframe

#### 1. Drop Row

In [38]:
# drop one row

# using axis parameter

df.drop("L. Messi", axis=0) # axis = 0 represents rows and axis = 1 represents columns , only creates a copy of the original dataframe

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
K. De Bruyne,192985.0,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City,91.0,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,https://sofifa.com/player/251110/haijian-wang/...,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# drop a row using index parameter

df.drop(index = "L. Messi")

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
K. De Bruyne,192985.0,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City,91.0,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,https://sofifa.com/player/251110/haijian-wang/...,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# drop two or more rows

# using axis parameter

df.drop(["L. Messi","Cristiano Ronaldo"], axis=0)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Neymar Jr,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
K. De Bruyne,192985.0,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City,91.0,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
M. ter Stegen,192448.0,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen,0.0,0,0.0,0.0,Germany,FC Barcelona,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,https://sofifa.com/player/251110/haijian-wang/...,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# second method - using index parameter

df.drop(index=["L. Messi","Cristiano Ronaldo"])

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Neymar Jr,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
K. De Bruyne,192985.0,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,0.0,0,0.0,0.0,Belgium,Manchester City,91.0,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
M. ter Stegen,192448.0,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen,0.0,0,0.0,0.0,Germany,FC Barcelona,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,https://sofifa.com/player/251110/haijian-wang/...,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2. Drop column

In [43]:
# drop one column

# using axis parameter

df.drop("player_url", axis=1)

,sofifa_id,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023.0,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona,94.0,94.0,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801.0,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,93.0,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871.0,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,92.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,91.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,56.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,56.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,56.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,54.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# drop one column

# using column parameter

df.drop(columns=["player_url"])

,sofifa_id,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023.0,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona,94.0,94.0,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801.0,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,93.0,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871.0,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,92.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,91.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,56.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,56.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,56.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,54.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# drop two or more columns

# using axis parameter

df.drop(["player_url","long_name"],axis=1)

,sofifa_id,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023.0,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona,94.0,94.0,95500000.0,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801.0,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,93.0,58500000.0,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871.0,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,92.0,105500000.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,93.0,77500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,91.0,90000000.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,56.0,40000.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,56.0,40000.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,56.0,40000.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,54.0,40000.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# drop two or more columns

# using columns parameter

df.drop(columns=["player_url","long_name"])

,sofifa_id,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023.0,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona,94.0,94.0,95500000.0,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801.0,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,93.0,58500000.0,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871.0,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,92.0,105500000.0,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389.0,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,93.0,77500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,91.0,90000000.0,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,56.0,40000.0,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995.0,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,56.0,40000.0,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332.0,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,56.0,40000.0,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110.0,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,54.0,40000.0,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# drop column by position/index (drop last column)

df.drop(df.columns[-1],axis=1)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023.0,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,72.0,Argentina,FC Barcelona,94.0,...,92+2,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2
Cristiano Ronaldo,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,83.0,Portugal,Juventus,93.0,...,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3
Neymar Jr,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,0.0,0,0.0,0.0,Brazil,Paris Saint-Germain,92.0,...,89+3,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3
J. Oblak,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,0.0,0,0.0,0.0,Slovenia,Atlético Madrid,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,0.0,0,0.0,0.0,Belgium,Real Madrid,91.0,...,89+3,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006.0,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,0.0,0,0.0,0.0,China PR,Beijing Renhe FC,48.0,...,33+2,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2
Xiao Mingjie,250995.0,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,0.0,0,0.0,0.0,China PR,Shanghai SIPG FC,48.0,...,35+2,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2
Zhang Wei,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,张威,0.0,0,0.0,0.0,China PR,Hebei China Fortune FC,48.0,...,45+2,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2
Wang Haijian,251110.0,https://sofifa.com/player/251110/haijian-wang/...,汪海健,0.0,0,0.0,0.0,China PR,Shanghai Greenland Shenhua FC,48.0,...,46+2,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
dff = pd.DataFrame({"A":[2,4,5,2],"B":["a","b","c","d"]})
dff

   A  B
0  2  a
1  4  b
2  5  c
3  2  d

In [11]:
dff[~(dff["A"]==2)]

   A  B
1  4  b
2  5  c

## Knowing the rows and columns

In [70]:
print(df.index[1])
print(df.index[[1,2]])
print(df.index[1:4])
print(df.columns[1])
print(df.columns[[3,8]])
print(df.columns[1:5])

Cristiano Ronaldo
Index(['Cristiano Ronaldo', 'Neymar Jr'], dtype='object', name='short_name')
Index(['Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak'], dtype='object', name='short_name')
player_url
Index(['age', 'club'], dtype='object')
Index(['player_url', 'long_name', 'age', 'dob'], dtype='object')

## Create random sample with the sample() method

In [91]:
# extract 10 random elements from the "nationality" column

df["nationality"].sample(10,random_state=9) # random_state (can use any number) is used for keeping the sample constant, else the sample changes after each run

short_name
R. James        England
D. Perkins      England
J. Glesnes       Norway
R. Takano         Japan
C. Riegler      Austria
A. Çalık         Turkey
David Simão    Portugal
T. Bašić        Croatia
Bruno Pires      Brazil
R. Deprem        Sweden
Name: nationality, dtype: object

In [97]:
# extract a random 20% sample of the dataframe

df.sample(frac=0.2,random_state=35)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
C. Ninga,231041.0,https://sofifa.com/player/231041/casimir-ninga...,Casimir Ninga,0.0,0,0.0,0.0,Chad,Angers SCO,73.0,...,55+2,50+2,50+2,50+2,55+2,52+2,45+2,45+2,45+2,52+2
C. Vargas,238114.0,https://sofifa.com/player/238114/carlos-vargas...,Carlos Alonso Vargas Tenorio,0.0,0,0.0,0.0,Mexico,Club América,66.0,...,63+2,62+2,62+2,62+2,63+2,64+2,65+2,65+2,65+2,64+2
D. Hernández,246188.0,https://sofifa.com/player/246188/diego-hernand...,Diego Hernández,0.0,0,0.0,0.0,Mexico,Atlético de San Luis,62.0,...,46+2,43+2,43+2,43+2,46+2,44+2,38+2,38+2,38+2,44+2
F. Ranocchia,244874.0,https://sofifa.com/player/244874/filippo-ranoc...,Filippo Ranocchia,0.0,0,0.0,0.0,Italy,Perugia,56.0,...,54+2,56+2,56+2,56+2,54+2,54+2,55+2,55+2,55+2,54+2
C. Villalba,247400.0,https://sofifa.com/player/247400/carlos-villal...,Carlos Villalba,0.0,0,0.0,0.0,Argentina,Club Atlético Talleres,58.0,...,54+2,55+2,55+2,55+2,54+2,54+2,52+2,52+2,52+2,54+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Seo Myeong Won,221962.0,https://sofifa.com/player/221962/myeong-won-se...,서명원 徐明原,0.0,0,0.0,0.0,Korea Republic,Gangwon FC,63.0,...,46+2,45+2,45+2,45+2,46+2,43+2,36+2,36+2,36+2,43+2
B. Badibanga,227857.0,https://sofifa.com/player/227857/beni-badibang...,Beni Badibanga,0.0,0,0.0,0.0,Belgium,Waasland-Beveren,64.0,...,46+2,42+2,42+2,42+2,46+2,42+2,34+2,34+2,34+2,42+2
C. Gentner,158856.0,https://sofifa.com/player/158856/christian-gen...,Christian Gentner,0.0,0,0.0,0.0,Germany,1. FC Union Berlin,73.0,...,67+2,72+2,72+2,72+2,67+2,67+2,72+2,72+2,72+2,67+2
K. Iwatake,246829.0,https://sofifa.com/player/246829/katsuya-iwata...,岩武 克弥,0.0,0,0.0,0.0,Japan,Urawa Red Diamonds,57.0,...,56+2,52+2,52+2,52+2,56+2,55+2,53+2,53+2,53+2,55+2
M. Al Ghamdi,252872.0,https://sofifa.com/player/252872/majed-al-gham...,Majed Al Ghamdi,0.0,0,0.0,0.0,Saudi Arabia,Al Hazem,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# upsample: increase the sampling rate - frac>1 (Note: replace parameter should be True for frac>1)

# the new rows adding are the duplicates of the existing rows

In [106]:
df.sample(frac=2, replace=True, random_state=12)

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
D. Jaiyesimi,232520.0,https://sofifa.com/player/232520/diallang-jaiy...,Diallang Jaiyesimi,0.0,0,0.0,0.0,England,Swindon Town,61.0,...,48+2,44+2,44+2,44+2,48+2,46+2,40+2,40+2,40+2,46+2
J. Sambia,223570.0,https://sofifa.com/player/223570/junior-sambia...,Junior Sambia,0.0,0,0.0,0.0,France,Montpellier HSC,69.0,...,68+2,65+2,65+2,65+2,68+2,67+2,64+2,64+2,64+2,67+2
Kim Sung Joon,191944.0,https://sofifa.com/player/191944/sung-joon-kim...,김성준 金圣埈,0.0,0,0.0,0.0,Korea Republic,Ulsan Hyundai FC,68.0,...,64+2,64+2,64+2,64+2,64+2,63+2,60+2,60+2,60+2,63+2
N. Champagne,163056.0,https://sofifa.com/player/163056/nereo-champag...,Nereo Champagne,0.0,0,0.0,0.0,Argentina,Real Oviedo,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R. Swete,229817.0,https://sofifa.com/player/229817/rene-swete/20...,Rene Swete,0.0,0,0.0,0.0,Austria,TSV Hartberg,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S. Condé,245003.0,https://sofifa.com/player/245003/sekou-conde/2...,Sékou Condé,0.0,0,0.0,0.0,Guinea,La Berrichonne de Châteauroux,65.0,...,53+2,57+2,57+2,57+2,53+2,56+2,63+2,63+2,63+2,56+2
F. Gülmez,251795.0,https://sofifa.com/player/251795/fatih-gulmez/...,Fatih Gülmez,0.0,0,0.0,0.0,Turkey,Gazişehir Gaziantep F.K.,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
M. Harnik,177666.0,https://sofifa.com/player/177666/martin-harnik...,Martin Harnik,0.0,0,0.0,0.0,Austria,SV Werder Bremen,75.0,...,60+2,59+2,59+2,59+2,60+2,58+2,56+2,56+2,56+2,58+2
A. Mannus,110606.0,https://sofifa.com/player/110606/alan-mannus/2...,Alan Mannus,0.0,0,0.0,0.0,Northern Ireland,Shamrock Rovers,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P. Keita,208246.0,https://sofifa.com/player/208246/paul-fadiala-...,Paul Fadiala Keita,0.0,0,0.0,0.0,Senegal,Waasland-Beveren,65.0,...,60+2,63+2,63+2,63+2,60+2,61+2,64+2,64+2,64+2,61+2

## Filter a dataframe using the query() method

In [19]:
# select players older than 34

df = pd.read_csv("players_20.csv")
df.set_index("short_name",inplace = True)
df.query("age>34")

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Z. Ibrahimović,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Zlatan Ibrahimović,37,1981-10-03,195,95,Sweden,LA Galaxy,85,...,53+4,57+4,57+4,57+4,53+4,50+4,52+4,52+4,52+4,50+4
Pepe,120533,https://sofifa.com/player/120533/kepler-lavera...,Képler Laveran Lima Ferreira,36,1983-02-26,188,81,Portugal,FC Porto,84,...,73+3,76+3,76+3,76+3,73+3,75+3,82+3,82+3,82+3,75+3
G. Buffon,1179,https://sofifa.com/player/1179/gianluigi-buffo...,Gianluigi Buffon,41,1978-01-28,192,92,Italy,Juventus,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Casillas,5479,https://sofifa.com/player/5479/iker-casillas-f...,Iker Casillas Fernández,38,1981-05-20,185,84,Spain,FC Porto,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
F. Quagliarella,159261,https://sofifa.com/player/159261/fabio-quaglia...,Fabio Quagliarella,36,1983-01-31,180,79,Italy,Sampdoria,83,...,54+2,54+2,54+2,54+2,54+2,50+2,45+2,45+2,45+2,50+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
N. Hunt,138083,https://sofifa.com/player/138083/nicky-hunt/20...,Nicky Hunt,35,1983-09-03,185,86,England,Crewe Alexandra,55,...,54+2,55+2,55+2,55+2,54+2,53+2,58+2,58+2,58+2,53+2
K. Ogi,232539,https://sofifa.com/player/232539/kota-ogi/20/1...,荻 晃太,36,1983-05-05,185,76,Japan,Vissel Kobe,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. McCombe,11430,https://sofifa.com/player/11430/jamie-mccombe/...,Jamie McCombe,36,1983-01-01,196,79,England,Lincoln City,52,...,38+2,44+2,44+2,44+2,38+2,41+2,50+2,50+2,50+2,41+2
G. Maley,245558,https://sofifa.com/player/245558/gary-maley/20...,Gary Maley,36,1982-08-03,188,90,Scotland,Livingston FC,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zhou Ting,182461,https://sofifa.com/player/182461/ting-zhou/20/...,周挺,40,1979-02-05,182,73,China PR,Dalian YiFang FC,49,...,48+2,50+2,50+2,50+2,48+2,48+2,51+2,51+2,51+2,48+2

In [149]:
# write the equivalent boolean slicing for the above example

df[df["age"]>34]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Z. Ibrahimović,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Zlatan Ibrahimović,37,1981-10-03,195,95,Sweden,LA Galaxy,85,...,53+4,57+4,57+4,57+4,53+4,50+4,52+4,52+4,52+4,50+4
Pepe,120533,https://sofifa.com/player/120533/kepler-lavera...,Képler Laveran Lima Ferreira,36,1983-02-26,188,81,Portugal,FC Porto,84,...,73+3,76+3,76+3,76+3,73+3,75+3,82+3,82+3,82+3,75+3
G. Buffon,1179,https://sofifa.com/player/1179/gianluigi-buffo...,Gianluigi Buffon,41,1978-01-28,192,92,Italy,Juventus,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Casillas,5479,https://sofifa.com/player/5479/iker-casillas-f...,Iker Casillas Fernández,38,1981-05-20,185,84,Spain,FC Porto,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
F. Quagliarella,159261,https://sofifa.com/player/159261/fabio-quaglia...,Fabio Quagliarella,36,1983-01-31,180,79,Italy,Sampdoria,83,...,54+2,54+2,54+2,54+2,54+2,50+2,45+2,45+2,45+2,50+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
N. Hunt,138083,https://sofifa.com/player/138083/nicky-hunt/20...,Nicky Hunt,35,1983-09-03,185,86,England,Crewe Alexandra,55,...,54+2,55+2,55+2,55+2,54+2,53+2,58+2,58+2,58+2,53+2
K. Ogi,232539,https://sofifa.com/player/232539/kota-ogi/20/1...,荻 晃太,36,1983-05-05,185,76,Japan,Vissel Kobe,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. McCombe,11430,https://sofifa.com/player/11430/jamie-mccombe/...,Jamie McCombe,36,1983-01-01,196,79,England,Lincoln City,52,...,38+2,44+2,44+2,44+2,38+2,41+2,50+2,50+2,50+2,41+2
G. Maley,245558,https://sofifa.com/player/245558/gary-maley/20...,Gary Maley,36,1982-08-03,188,90,Scotland,Livingston FC,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zhou Ting,182461,https://sofifa.com/player/182461/ting-zhou/20/...,周挺,40,1979-02-05,182,73,China PR,Dalian YiFang FC,49,...,48+2,50+2,50+2,50+2,48+2,48+2,51+2,51+2,51+2,48+2

In [150]:
# select players older than 34 from italy

df.query("age>34 and nationality=='Italy'")

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
G. Buffon,1179,https://sofifa.com/player/1179/gianluigi-buffo...,Gianluigi Buffon,41,1978-01-28,192,92,Italy,Juventus,83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
F. Quagliarella,159261,https://sofifa.com/player/159261/fabio-quaglia...,Fabio Quagliarella,36,1983-01-31,180,79,Italy,Sampdoria,83,...,54+2,54+2,54+2,54+2,54+2,50+2,45+2,45+2,45+2,50+2
D. De Rossi,53302,https://sofifa.com/player/53302/daniele-de-ros...,Daniele De Rossi,35,1983-07-24,184,83,Italy,Boca Juniors,82,...,75+3,81+3,81+3,81+3,75+3,76+3,82+3,82+3,82+3,76+3
A. Mirante,140293,https://sofifa.com/player/140293/antonio-miran...,Antonio Mirante,35,1983-07-08,193,79,Italy,Roma,79,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A. Diamanti,163925,https://sofifa.com/player/163925/alessandro-di...,Alessandro Diamanti,36,1983-05-02,180,75,Italy,Western United FC,76,...,56+2,55+2,55+2,55+2,56+2,51+2,45+2,45+2,45+2,51+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. Vitiello,138920,https://sofifa.com/player/138920/roberto-vitie...,Roberto Vitiello,36,1983-05-08,176,72,Italy,Castellammare di Stabia,65,...,57+2,58+2,58+2,58+2,57+2,59+2,64+2,64+2,64+2,59+2
A. Bruno,203649,https://sofifa.com/player/203649/alessandro-br...,Alessandro Bruno,35,1983-07-04,180,70,Italy,Pescara,65,...,60+2,65+2,65+2,65+2,60+2,59+2,62+2,62+2,62+2,59+2
T. Berni,54037,https://sofifa.com/player/54037/tommaso-berni/...,Tommaso Berni,36,1983-03-06,185,80,Italy,Inter,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
P. Gori,120243,https://sofifa.com/player/120243/pier-graziano...,Pier Graziano Gori,39,1980-05-10,189,83,Italy,Benevento,62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S. Farelli,137356,https://sofifa.com/player/137356/simone-farell...,Simone Farelli,36,1983-02-19,186,82,Italy,Pescara,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
# add a not operator to the first example

df.query("not(age>34)")

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [152]:
# convert height to meters and select those with height above 1.8

df.query("(height_cm/100)>1.8")

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
M. ter Stegen,192448,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
V. van Dijk,203376,https://sofifa.com/player/203376/virgil-van-di...,Virgil van Dijk,27,1991-07-08,193,92,Netherlands,Liverpool,90,...,79+3,83+3,83+3,83+3,79+3,81+3,87+3,87+3,87+3,81+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
P. Martin,251789,https://sofifa.com/player/251789/paul-martin/2...,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [235]:
# select players that were born after 1990

# Convert 'dob' column to datetime
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')  # 'coerce' turns invalid dates into NaT

# Extract the year
df['year'] = df['dob'].dt.year

# query

df.query("dob.dt.year > 1990")

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
short_name,,,,,,,,,,,,,,,,,,,,,
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3,1992
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1993
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3,1991
K. De Bruyne,192985,https://sofifa.com/player/192985/kevin-de-bruy...,Kevin De Bruyne,28,1991-06-28,181,70,Belgium,Manchester City,91,...,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3,1991
M. ter Stegen,192448,https://sofifa.com/player/192448/marc-andre-te...,Marc-André ter Stegen,27,1992-04-30,187,85,Germany,FC Barcelona,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2,1997
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2,1997
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2,2000
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2,2000
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2,1993

In [30]:
# backticks is used if the column name has spaces or special characters

dff = pd.DataFrame({"A C":[2,4,5,2],"B@1":["a","b","c","d"]})
dff.query(" `A C` == 2 and `B@1` == 'a' ")

   A C B@1
0    2   a

### .apply() function

In [154]:
# use numpy function and apply it to series

df['age'].apply(np.sqrt)  # only creates a copy of the original dataframe

short_name
L. Messi             5.656854
Cristiano Ronaldo    5.830952
Neymar Jr            5.196152
J. Oblak             5.099020
E. Hazard            5.291503
                       ...
Shao Shuai           4.690416
Xiao Mingjie         4.690416
Zhang Wei            4.358899
Wang Haijian         4.242641
Pan Ximing           5.099020
Name: age, Length: 18278, dtype: float64

In [155]:
# create your own function and apply it to a dataframe

def convert(row):
    return row["height_cm"]/100

df.apply(convert, axis=1)

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Length: 18278, dtype: float64

In [17]:
def convert2(col_val):
    return (col_val)/100

df["height_cm"].apply(convert2)

0        1.70
1        1.87
2        1.75
3        1.88
4        1.75
         ...
18273    1.86
18274    1.77
18275    1.86
18276    1.85
18277    1.82
Name: height_cm, Length: 18278, dtype: float64

In [19]:
def classify(col_val):
    if col_val >= 180:
        return "Tall"
    elif col_val < 180 and col_val >=150:
        return "Medium"
    else:
        return "Short"

df["Height Category"] = df["height_cm"].apply(classify)
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,height_category,Height Category
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2,None,Medium
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,None,Tall
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3,None,Medium
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Tall
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3,None,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2,None,Tall
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2,None,Medium
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2,None,Tall
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2,None,Tall
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2,None,Tall

In [157]:
# using lambda function and apply it to a dataframe

df["height_cm"].apply(lambda X: X/100)

# alternative method - df["height_cm"]/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [162]:
# use lambda function to convert "long_name" series to upper case

df["long_name"].apply(lambda X: str(X).upper())

# alternate with str attribute  -  df["long_name"].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [25]:
# use lambda and apply to get the year in "dob" series

df['dob'] = pd.to_datetime(df['dob'], errors='coerce')
df["dob"].apply(lambda X: X.year)

0        1987
1        1985
2        1992
3        1993
4        1991
         ...
18273    1997
18274    1997
18275    2000
18276    2000
18277    1993
Name: dob, Length: 18278, dtype: int64

In [166]:
# apply lambda function to dataframe in order to calculate bmi

df.apply(lambda X: X["weight_kg"] / ((X["height_cm"]/100)**2), axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

### Make a copy of a dataframe with copy()

#### 1.1  deep = True

In [171]:
# deep = True by default (modifications to the data or indices at original doesnot reflect in the copy and vice versa)

df_copy = df.copy()

# update value in original dataframe

df.loc["L. Messi","height_cm"] = 180

# value will updated in the original dataframe, but not in the copy and vice versa

df_copy

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023.0,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,187.0,83.0,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18274,250995.0,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,177.0,66.0,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110.0,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449.0,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26.0,1993-01-11,182.0,78.0,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2
L. Messi,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 1.2  deep = False

In [191]:
# by keeping deep = False, any change in the original df will reflect in the copy and vice versa

df_copy1 = df.copy(deep=False)
df_copy1

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023.0,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,100.0,100.0,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18275,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110.0,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449.0,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26.0,1993-01-11,182.0,78.0,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2
L. Messi,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cristiano Ronaldo,NaN,NaN,NaN,NaN,NaN,NaN,200.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
# update value in original dataframe - makes a shallow copy

df.iloc[1,6] = 200

In [194]:
df_copy1

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023.0,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,200.0,100.0,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18275,252332.0,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19.0,2000-05-16,186.0,75.0,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110.0,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449.0,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26.0,1993-01-11,182.0,78.0,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2
L. Messi,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cristiano Ronaldo,NaN,NaN,NaN,NaN,NaN,NaN,200.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Simple assignment - Another way to make a shallow copy

In [197]:
df_newcopy = df

In [204]:
df.iloc[2,6] = 180

df_newcopy

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023.0,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,200.0,100.0,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,180.0,68.0,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18276,251110.0,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449.0,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26.0,1993-01-11,182.0,78.0,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2
L. Messi,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cristiano Ronaldo,NaN,NaN,NaN,NaN,NaN,NaN,200.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Neymar Jr,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [206]:
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023.0,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,170.0,72.0,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801.0,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,200.0,100.0,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871.0,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,180.0,68.0,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389.0,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277.0,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,74.0,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18276,251110.0,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18.0,2000-08-02,185.0,74.0,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449.0,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26.0,1993-01-11,182.0,78.0,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2
L. Messi,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cristiano Ronaldo,NaN,NaN,NaN,NaN,NaN,NaN,200.0,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Neymar Jr,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Reshaping and Pivoting Dataframes

### Pivot Tables - pivot(), pivot_table()

In [212]:
# pivot() - reshape data based on column values (doesnot support data aggregation)

# syntax - df.pivot(index = "any_column",columns="any_column",values="any_column")

In [213]:
# Example 1

data = {"foo":["one","one","one","two","two","two"],
        "bar":["A","B","C","A","B","C"],
        "baz":[1,2,3,4,5,6],
       "zoo":["x","y","z","q","w","t"]}
df = pd.DataFrame(data)
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [214]:
df.pivot(index="foo",columns="bar",values="baz")

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [217]:
# Example 2  -  cannot reshape if contains duplicate entries

data = {"foo":["one","one","three","two","four","two"],
        "bar":["A","A","C","D","A","E"],
        "baz":[1,2,3,4,1,3],
       "zoo":["x","y","z","s","x","x"]}
df = pd.DataFrame(data)
df

     foo bar  baz zoo
0    one   A    1   x
1    one   A    2   y
2  three   C    3   z
3    two   D    4   s
4   four   A    1   x
5    two   E    3   x

In [237]:
# df.pivot(index="foo",columns="bar",values="baz")  # here error shows as (one,A) have two values in "baz" column

In [231]:
# dataset

df_gdp = pd.read_csv('gdp.csv', encoding='latin1')
df_gdp

      unid wbid      country  year        SES       gdppc  yrseduc  popshare
0        4  AFG  Afghanistan  1970   3.474212   709.00000      NaN  0.003097
1        4  AFG  Afghanistan  1920  26.968016   731.75677      NaN  0.003245
2        4  AFG  Afghanistan  1990   1.269530   604.00000      NaN  0.002347
3        4  AFG  Afghanistan  1960  15.763076   739.00000      NaN  0.003039
4        4  AFG  Afghanistan  2000   2.061114   565.00000      NaN  0.003309
...    ...  ...          ...   ...        ...         ...      ...       ...
2081   716  ZWE     Zimbabwe  1940  52.746567   813.00000      NaN  0.001113
2082   716  ZWE     Zimbabwe  2010  27.091389  1388.97300      NaN  0.002074
2083   716  ZWE     Zimbabwe  1990  59.110970  2526.07230      NaN  0.002039
2084   716  ZWE     Zimbabwe  1900  54.722645   601.00000      NaN  0.000996
2085   716  ZWE     Zimbabwe  1960  53.811077   938.00000      NaN  0.001268

[2086 rows x 8 columns]

In [26]:
# Auto-Detect Encoding - Use chardet to detect the correct encoding if the error comes

import chardet

with open('gdp.csv', 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']

df = pd.read_csv('gdp.csv', encoding=encoding)
df

      unid wbid      country  year        SES       gdppc  yrseduc  popshare
0        4  AFG  Afghanistan  1970   3.474212   709.00000      NaN  0.003097
1        4  AFG  Afghanistan  1920  26.968016   731.75677      NaN  0.003245
2        4  AFG  Afghanistan  1990   1.269530   604.00000      NaN  0.002347
3        4  AFG  Afghanistan  1960  15.763076   739.00000      NaN  0.003039
4        4  AFG  Afghanistan  2000   2.061114   565.00000      NaN  0.003309
...    ...  ...          ...   ...        ...         ...      ...       ...
2081   716  ZWE     Zimbabwe  1940  52.746567   813.00000      NaN  0.001113
2082   716  ZWE     Zimbabwe  2010  27.091389  1388.97300      NaN  0.002074
2083   716  ZWE     Zimbabwe  1990  59.110970  2526.07230      NaN  0.002039
2084   716  ZWE     Zimbabwe  1900  54.722645   601.00000      NaN  0.000996
2085   716  ZWE     Zimbabwe  1960  53.811077   938.00000      NaN  0.001268

[2086 rows x 8 columns]

In [238]:
# reshape the dataframe with .pivot()

df_gdp.pivot(index="year",columns="country",values="gdppc")

country,Afghanistan,Albania,Algeria,Angola,Argentina,Armenia,Australia,Austria,Bahrain,Bangladesh,...,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
year,,,,,,,,,,,,,,,,,,,,,
1880,585.46509,522.00000,819.18604,533.66669,1731.500,1041.0000,4285.000,2079.000,811.76746,566.66669,...,1041.0000,811.76746,3477.000,3184.000,2082.0000,653.000,556.62793,811.76746,533.66669,533.66669
1890,635.93024,598.00000,923.37207,567.33331,2152.000,1139.0000,4458.000,2443.000,881.53491,587.33331,...,1139.0000,881.53491,4009.000,3392.000,2147.0000,737.000,608.25580,881.53491,567.33331,567.33331
1900,686.39532,685.00000,1027.55810,601.00000,2756.000,1237.0000,4013.000,2882.000,951.30231,608.00000,...,1237.0000,951.30231,4492.000,4091.000,2219.0000,821.000,659.88373,951.30231,601.00000,601.00000
1910,736.86047,780.00000,1131.74410,628.69232,3822.000,1430.0769,5210.000,3290.000,1021.06980,661.84613,...,1430.0769,1021.06980,4611.000,4964.000,3136.0000,886.000,711.51166,1021.06980,628.69232,628.69232
1920,731.75677,861.31250,1201.21620,682.62964,3473.000,1432.9333,4766.000,2412.000,1242.91890,651.89191,...,1432.9333,3833.67580,4548.000,5552.000,2674.0000,1173.000,713.94592,1017.21620,682.62964,682.62964
1930,702.83783,929.57141,1255.81080,747.81482,4080.000,1448.0000,4708.000,3586.000,1529.94590,614.59460,...,1448.0000,7821.78370,5441.000,6213.000,4301.0000,3444.000,695.29730,981.81079,747.81482,747.81482
1940,673.91895,965.28571,1310.40540,813.00000,4161.000,2144.0000,6166.000,3959.000,1816.97300,577.29730,...,2144.0000,11809.89200,6856.000,7010.000,3661.0000,4045.000,676.64862,946.40540,813.00000,813.00000
1950,645.00000,1001.00000,1365.00000,1052.00000,4987.000,2841.0000,7412.000,3706.000,2104.00000,540.00000,...,2841.0000,15798.00000,6939.000,9561.000,4659.0000,7462.000,658.00000,911.00000,661.00000,701.00000
1960,739.00000,1451.00000,2088.00000,1253.00000,5559.000,3945.0000,8791.000,6519.000,2843.00000,545.00000,...,3945.0000,22433.00000,8645.000,11328.000,4960.0000,9646.000,799.00000,964.00000,960.00000,938.00000
1970,709.00000,2004.00000,2249.00000,1768.00000,7302.000,5575.0000,12024.000,9747.000,3788.00000,630.00000,...,5575.0000,24552.00000,10767.000,15030.000,5184.0000,10672.000,735.00000,1230.00000,1073.00000,1282.00000
1980,690.00000,2347.00000,3152.00000,961.00000,8206.000,6116.5884,14412.000,13759.000,4388.00000,549.00000,...,5378.1763,27709.00000,12931.000,18577.000,6555.0000,10139.000,757.00000,2290.00000,911.00000,1295.00000
1990,604.00000,4557.40820,10238.88400,4806.43020,10833.503,3735.5432,28572.076,31265.287,35112.55500,1290.43100,...,10463.9600,114518.83000,26769.357,37062.129,9840.7266,14450.682,1501.13890,3353.78930,2308.60380,2526.07230
2000,565.00000,5470.01760,10211.10400,3831.00000,14924.374,2918.5576,35244.504,38812.051,44791.52000,1645.71730,...,4797.3804,107206.46000,32961.527,45986.051,12874.7760,14417.104,2649.71950,3911.21970,2092.25510,2521.34740
2010,1662.80350,9927.17580,12898.29600,6492.17680,18794.270,6507.9146,41363.215,43174.977,39912.69500,2451.30520,...,7824.4985,57406.73800,36195.867,49372.832,17082.4100,16563.396,4486.26120,4481.55470,3263.39480,1388.97300

## pivot_table() - creates a spreadsheet style pivot table (supports data aggregation)

In [31]:
# new dataset
df_sales = pd.read_excel("supermarket_sales.xlsx")
df_sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [50]:
df_sales.select_dtypes(include=["number"])

#df_sales.select_dtypes("number").columns

#df_sales.select_dtypes("number").mean()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
0,74.69,7,26.1415,548.9715,522.83,4.761905,26.1415,9.1
1,15.28,5,3.8200,80.2200,76.40,4.761905,3.8200,9.6
2,46.33,7,16.2155,340.5255,324.31,4.761905,16.2155,7.4
3,58.22,8,23.2880,489.0480,465.76,4.761905,23.2880,8.4
4,86.31,7,30.2085,634.3785,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...
995,40.35,1,2.0175,42.3675,40.35,4.761905,2.0175,6.2
996,97.38,10,48.6900,1022.4900,973.80,4.761905,48.6900,4.4
997,31.84,1,1.5920,33.4320,31.84,4.761905,1.5920,7.7
998,65.82,1,3.2910,69.1110,65.82,4.761905,3.2910,4.1
999,88.34,7,30.9190,649.2990,618.38,4.761905,30.9190,6.6

In [47]:
# make a pivot table apply an aggregate function on all numeric columns

# Select only numeric columns (excluding datetime)
numeric_cols = df_sales.select_dtypes(include=["number"]).columns

# Create the pivot table using only numeric columns
df_sales.pivot_table(index="Gender", values=numeric_cols, aggfunc="sum")

#df_sales.pivot_table(index="Gender",aggfunc="sum") - showing error (datetime64 type does not support sum operations) on this tuitorial method

,Quantity,Rating,Tax 5%,Total,Unit price,cogs,gross income,gross margin percentage
Gender,,,,,,,,
Female,2869,3489.2,7994.425,167882.925,27687.24,159888.50,7994.425,2385.714286
Male,2641,3483.5,7384.944,155083.824,27984.89,147698.88,7384.944,2376.190476

In [252]:
# make a pivot table, apply an aggregate function on some selected columns

df_sales.pivot_table(index="Gender",values=["Quantity","Total"],aggfunc="sum")

        Quantity       Total
Gender
Female      2869  167882.925
Male        2641  155083.824

In [254]:
# make a pivot table thta shows how much male and fenmale spend in each product and quantity brought

df_sales.pivot_table(index="Gender",columns="Product line",values=["Quantity","Total"],aggfunc="sum")

                           Quantity                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Gender
Female                          488                 530                514
Male                            483                 372                438

                                                                     \
Product line Health and beauty Home and lifestyle Sports and travel
Gender
Female                     343                498               496
Male                       511                413               424

                              Total                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Gender
Female                   27102.0225           30437.400         33170.9175
Male                     27235.5090           23868.495         22973.9265


Product line Health and beauty Home and lifestyle Sports and travel
Gender
Female              18560.9865         30036.8775        28574.7210
Male                30632.7525         23825.0355        26548.1055

In [255]:
df_sales.pivot_table(index=["City","Gender"],columns="Product line",values="Total",aggfunc="sum")

Product line      Electronic accessories  Fashion accessories  \
City      Gender
Mandalay  Female               8166.5115            9081.4920
          Male                 8884.9320            7331.8245
Naypyitaw Female               8969.2155           11519.6865
          Male                 9999.7590           10040.3835
Yangon    Female               9966.2955            9836.2215
          Male                 8350.8180            6496.2870

Product line      Food and beverages  Health and beauty  Home and lifestyle  \
City      Gender
Mandalay  Female          10509.9960          6400.3485           9557.1315
          Male             4704.8925         13580.3115           7992.0330
Naypyitaw Female          15661.1595          6445.7400           7842.9330
          Male             8105.6955         10169.5860           6052.6200
Yangon    Female           6999.7620          5714.8980          12636.8130
          Male            10163.3385          6882.8550           9780.3825

Product line      Sports and travel
City      Gender
Mandalay  Female          9212.8155
          Male           10775.3835
Naypyitaw Female         11246.7285
          Male            4515.1995
Yangon    Female          8115.1770
          Male           11257.5225