In [1]:
print("a")

a

In [2]:
# python program to search element from list of elements using for loop

num=str(input("Enter an element: "))
list_of_elements=[1,3,"abc",True,5]
n=len(list_of_elements)
for i in range(0,n):
     if num==str(list_of_elements[i]):
        print("Element found")
        break
else:
     print("Element not found")

Enter an element:  4

Element not found

In [5]:
# python program to search element from list of elements using for loop

l=[1,2,3,4,5]
n=int(input("Enter number to search: "))
for i in l:
      if(i==n):
         print("Element found")
         break
else:
      print("Element not found")

Enter number to search:  1

Element found

Break Statement

In [17]:
# print numbers from 10 to 6 and break loop when number is 5

X=10
while X>=1:
    print("X=",X)
    X-=1
    if X==5:
        break
print("Out of loop")

X= 10
X= 9
X= 8
X= 7
X= 6
Out of loop

Continue Statement

In [21]:
# python program to print 1 to 5 using continue statement

X=0
while X<=10:
    X+=1
    if X>5:
        continue
    print("X=",X)

X= 1
X= 2
X= 3
X= 4
X= 5

Pass statement

In [24]:
# python program to retrieve only neagtive numbers from list

l=[-1,-2,0,1,2]
for i in l:
    if i>=0:
        pass
    else:
        print(i)

-1
-2

Assert Statement

In [3]:
X=int(input("Enter a number: "))
assert X>0, "Entered number should be positive"
print("Your entered number: ",X)
print("Correct input")

Enter a number:  24

Your entered number:  24
Correct input

In [8]:
X=int(input("Enter a number: "))
assert X>0
print("Your entered number: ",X)
print("Correct input")

Enter a number:  24

Your entered number:  24
Correct input

In [36]:
# python program to handle Assertion eror exception that is given by assert statement

X=int(input("Enter a number: "))
try:
    assert X>0
    print("You have entered: ",X)
except AssertionError:
    print("Wrong input")

Enter a number:  -67

Wrong input

List, tuple, range - More concepts

In [55]:
# creating a list using range function

l=list(range(1,10,1))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
# updating elements of list
l=[1,2,3,4,5,6,7,8,9]
l.append(10)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
None

In [66]:
#updating elements of list - using slice operator

print(l)
l[1:3]=11,12
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 11, 12, 4, 5, 6, 7, 8, 9, 10]

In [70]:
l1=[1,2,3,4,5,6,7,8,9]
l1.append(10)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
l.reverse()
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
# membership

l4=[10,20,30,40]
a=int(input("Enter a number: "))
if a in l4:
    print("in list")
else:
    print("Not in list")

Enter a number:  65

Not in list

In [82]:
l4=[10,20,30,40]
a=int(input("Enter a number: "))
if a not in l4:
    print("Not in list")
else:
    print("in list")

Enter a number:  35

Not in list

In [85]:
X=[10,20,30,40]
Y=X
print(Y)

[10, 20, 30, 40]

In [87]:
print(id(X))
print(id(Y))

2797664242944
2797664242944

In [89]:
X.append(50)
print(X)
print(Y)

[10, 20, 30, 40, 50, 50]
[10, 20, 30, 40, 50, 50]

In [92]:
Y[0]=15
print(Y)
print(X)

[15, 20, 30, 40, 50, 50]
[15, 20, 30, 40, 50, 50]

In [93]:
Z=X.copy()
print(Z)

[15, 20, 30, 40, 50, 50]

In [94]:
X.append(60)
print(X)

[15, 20, 30, 40, 50, 50, 60]

In [95]:
print(Z)

[15, 20, 30, 40, 50, 50]

In [99]:
id(X)

2797664242944

In [105]:
def message():
    print("Hello")

message()

Hello

In [108]:
#python program to print prime numbers upto a given number m

m=int(input("Enter a number: "))
prime=[]
for i in range(2,m+1):
    for j in range (2,i):
        if i%j != 0:
            prime.append(i)
print(prime)

Enter a number:  11

[3, 4, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11]

In [119]:
def add(num1,num2):
    sum=num1+num2
    return sum
data=add(30,40)
print(data)

70

In [120]:
add(35,5)

40

In [121]:
def avg(a,b):
    """function to find average"""
    c=(a+b)/2
    print(c)

In [122]:
avg(20,30)

25.0

In [129]:
def avrg(a,b):
    '''function to find average'''
    d=(a+b)/2
    return d

In [124]:
avrg(10,20)

15.0

In [127]:
# function to test if agiven number is even or odd

def check(num):
    if num%2==0:
        print("Even")
    else:
        print("Odd")

check(5)
check(24)

Odd
Even

In [128]:
# function to check given number is prime or not

def prime(n):
    count=0
    for i in range(1,n+1):
        if n%i==0:
            count+=1
    if count==2:
        print("Prime")
    else:
        print("Not Prime")

prime(2)
prime(4)

Prime
Not Prime

In [130]:
def mul_div(a,b):
    c=a*b
    d=a/b
    return c,d

In [131]:
mul_div(5,2)

(10, 2.5)

In [132]:
X,Y=mul_div(8,4)

In [133]:
print(X)

32

In [134]:
print(Y)

2.0

In [153]:
# to find factorial of a number

def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print(f)
fact(4)

24

In [145]:
n=4
f=1
for i in range(1,n+1):
        f=f*i
print(f)

24

Fuction arguments

In [154]:
def attach(S1,S2):
    S3=S1+S2
    print(S3)
attach("Com","puter")

Computer

In [156]:
def shop(product,cost):
    print("product:",product)
    print("cost:",cost)
shop(product='sugar',cost=100)
shop(cost=85,product="flour")
shop(milk,50)
shop(10,Egg)

product: sugar
cost: 100
product: flour
cost: 85

NameError: name 'milk' is not defined

In [159]:
def shops(product,cost=100):
    print("product:",product)
    print("cost:",cost)
shops('flour',200)
shops('Biscuit')

product: flour
cost: 200
product: Biscuit
cost: 100

In [160]:
# python program to print sum of all foraml arguments and variable length arguments

def add(arg,*args):
    sum=0
    for i in args:
        sum=sum+i
    print("Sum:",arg+sum)
add(5,10)
add(5)
add(5,10,15,20,30)

Sum: 15
Sum: 5
Sum: 80

In [170]:
def add(arg1,arg2):
    sums=arg1+arg2
    print(sums)
add(5,10)
#add(5)
#add(5,10,15,20,30)

15

Filter functions

In [10]:
# filter out even numbers from list

def even(x):
    if x%2==0:
        return True
    else:
        return False
l=[1,2,3,4,5,6]
n=list(filter(even,l))
print("Old list:",l)
print("New list:",n)

Old list: [1, 2, 3, 4, 5, 6]
New list: [2, 4, 6]

In [173]:
# filter out odd numbers from list

def odd(x):
    if x%2!=0:
        return True
    else:
        return False
l=[1,2,3,4,5,6]
n=list(filter(odd,l))
print("Old list:",l)
print("New list:",n)

Old list: [1, 2, 3, 4, 5, 6]
New list: [1, 3, 5]

In [175]:
# filter method working without function

l=[1,'a',0,False,True,'f']
n=list(filter(None,l))
print(n)

m=filter(None,l)
for i in m:
    print(i)

[1, 'a', True, 'f']
1
a
True
f

Map function

In [177]:
# map with string

def toupper(s):
    return str(s).upper()
new=map(toupper,'abc')
for i in new:
    print(i)

A
B
C

In [178]:
# map with tuple

n=map(toupper,(1,'abc','a'))
for i in n:
    print(i)

1
ABC
A

In [179]:
# map with list

In [180]:
n=map(toupper,['X','ab','abc'])
for i in n:
    print(i)

X
AB
ABC

In [182]:
n=map(toupper,'dog','cat','Sheep','X','ab','abc')
for i in n:
    print(i)

TypeError: toupper() takes 1 positional argument but 6 were given

In [183]:
# find a square of all elements of list using map

def square(x):
    return x*x
l=[1,2,3,4,5]
n=list(map(square,l))
print(n)
for i in n:
    print(i)

[1, 4, 9, 16, 25]
1
4
9
16
25

In [186]:
# map with multiple arguments

def mul(X,Y):
    return X*Y
l=[1,2,3,4]
m=[5,6,7,8]
n=list(map(mul,l,m))
print(n)

[5, 12, 21, 32]

Lambda Function

Syntax: lambda argument list : Expression

In [187]:
#function to find square of a number

square= lambda X: X*X
print(square(4))

16

In [191]:
# function to add two numbers

add=lambda X,Y: X+Y
i=int(input("Enter first number: "))
j=int(input("Enter second number: "))
print("Sum :",add(i,j))

Enter first number:  6
Enter second number:  12

Sum : 18

In [193]:
# lambda inside function

def test(n):
    return lambda X : X*n
result=test(10)
print(result(5))

50

In [198]:
# Lambda with filter function

# function to filter odd numbers

l=[1,2,3,4,5,6,7,8,9,10]
n=list(filter(lambda X: X%2!=0,l))
print(n)

[1, 3, 5, 7, 9]

In [200]:
# Lambda with map() function

# to increment every item of list by 2

l=[1,2,3,4,5,6,7]
n=list(map(lambda X: X+2,l))
print(n)

[3, 4, 5, 6, 7, 8, 9]

In [6]:
# multiply two lists using lambda with map

l1=[1,2,3,4]
l2=[5,6,7,8]
n=list(map(lambda X,Y:X*Y,l1,l2))
print(n)
new=map(lambda X,Y:X*Y,l1,l2)
for i in new:
    print(i)

[5, 12, 21, 32]
5
12
21
32

In [11]:
l=[2,4,5,6,1]
n=list(map(lambda X:X**2,l))
print(n)

[4, 16, 25, 36, 1]

In [11]:
f0=0
f1=1
FS=[f0,f1]
n=int(input("Enter a number: "))
for i in range(2,n+1):
    next=FS[i-2]+FS[i-1]
    FS.append(next)
print(FS)

for i in FS:
    print(i,"\t",end="")

Enter a number:  5

[0, 1, 1, 2, 3, 5]
0 	1 	1 	2 	3 	5

In [29]:
print(0,'\t',1,'\t',3)

0 	 1 	 3

In [30]:
n=int(input("Enter a 3 digit number: "))
sum,temp=0,n
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10
if sum==n:
    print("Armstrong")
else:
    print("Not Armstrong")

Enter a 3 digit number:  153

Armstrong

In [32]:
153//10

15

In [35]:
X=[]
n=int(input("How many number of elements: "))
for i in range(1,n+1):
    i=eval(input("Enter number: "))
    X.append(i)
print(X)
v=int(input("Enter element to count occurences: "))
c=0
for j in X:
    if j==v:
        c=c+1
print("Occurences of",v,"is",c)

How many number of elements:  3
Enter number:  8
Enter number:  8
Enter number:  6

[8, 8, 6]

Enter element to count occurences:  8

Occurences of 8 is 2

In [36]:
for i in range(1,4):
    i=eval(input("Enter nunber: "))

Enter nunber:  2
Enter nunber:  3
Enter nunber:  4

In [43]:
x=eval(input("Enter a number: "))
print(x)

Enter a number:  2*5

10

In [45]:
n1=[1,2,3,4,5]
n2=[1,2,5,6,7]
n3=[X for X in n1 if X not in n2]
print("Element in n1 not in n2:",n3)

Element in n1 not in n2: [3, 4]

In [47]:
n4=[]
for x in n1:
    if x not in n2:
        n4.append(x)
print("Element in n1 not in n2:",n4)

Element in n1 not in n2: [3, 4]

In [49]:
S='CompPuter'
d={}
for i in S:
    d[i]=d.get(i,0)+1
print(d)

{'C': 1, 'o': 1, 'm': 1, 'p': 1, 'P': 1, 'u': 1, 't': 1, 'e': 1, 'r': 1}

In [52]:
d={}
d['A']='a'
d['B']='b'
d['C']='c'
print(d)

{'A': 'a', 'B': 'b', 'C': 'c'}

In [57]:
m=int(input("Enter a number: "))
for i in range(2,m+1):
    count=0
    for j in range(1,i+1):
        if (i%j)==0:
            count+=1
    if (count==2):
        print(i,'\t',end='')

Enter a number:  10

2 	3 	5 	7

In [65]:
# use function to add,substarct, multiply two numbers from user input

num1=int(input("Enter a number: "))
num2=int(input("Enter another number: "))
def add(a,b):
    return a+b
def substract(a,b):
    return a-b
def mul(a,b):
    return a*b
print("The sum of two numbers is: ",add(num1,num2))
print("The product of two numbers is: ",mul(num1,num2))
print("The difference of two numbers is: ",substract(num1,num2))

Enter a number:  4
Enter another number:  5

The sum of two numbers is:  9
The product of two numbers is:  20
The difference of two numbers is:  -1

In [68]:
l=[1,2,3,4,5,6,7]
n=list(map(lambda X:X+2,l))
print(n)

[3, 4, 5, 6, 7, 8, 9]

In [74]:
l=[1,2,3,4,5,6, 7]
n1=list(filter(lambda x:x+2,l))
print(n1)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# python program to find sum of all numbers from 1 to given number - user input and for loop

n=int(input("Enter a number: "))
sum=0
for i in range(1,n+1):
    sum=sum+i
print("The sum of all natural numbers upto the given number is: ",sum)

In [ ]:
print(5)

In [1]:
print(a)

NameError: name 'a' is not defined

In [5]:
S="Hello,World,Hello"
S.split(",")

['Hello', 'World', 'Hello']

In [12]:
S.split??

Signature: S.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the substrings in the string, using sep as the separator string.

  sep
    The separator used to split the string.

    When set to None (the default value), will split on any whitespace
    character (including \n \r \t \f and spaces) and will discard
    empty strings from the result.
  maxsplit
    Maximum number of splits.
    -1 (the default value) means no limit.

Splitting starts at the front of the string and works to the end.

Note, str.split() is mainly useful for data that has been intentionally
delimited.  With natural text that includes punctuation, consider using
the regular expression module.
Type:      builtin_function_or_method

In [18]:
D="Hello"
D.center(14,"*")

'****Hello*****'

In [26]:
S="Hello World World"
S.count("World",6,len(S))

2

In [34]:
l=[1,2,4,5,4,7,8,4]
l.remove(4)
l

[1, 2, 5, 4, 7, 8, 4]

In [38]:
l

[1, 2, 5, 4]

In [39]:
l=[1,2,4,5,4,7,8,4]
l.pop()
l

[1, 2, 4, 5, 4, 7, 8]

In [3]:
# reverse of a number - check if a palandrome eg. 121

def rev_num():
    num= int(input("Enter a number: "))
    a=num
    temp = 0
    while num > 0:
        digit = num % 10
        temp = temp*10 + digit
        num = num // 10
    
    if temp == a:
         print("The number is palandrome")
    else:
        print("The number is not a palandrome")
rev_num()

Enter a number:  3

The number is palandrome

In [4]:
# reverse of a number - check if a palandrome eg. 121

def rev_num():
    num= int(input("Enter a number: "))
    temp = 0
    while num > 0:
        digit = num % 10
        temp = temp*10 + digit
        num = num // 10
    if temp == num:
         print("The number is palandrome")
    else:
        print("The number is not a palandrome")
rev_num()

Enter a number:  5

The number is not a palandrome

In [5]:
# to reverse a string

def rev_str():
    string = input("Enter a word: ")
    string1 = string[::-1]
    if string1 == string:
        print("it is a palandrome")
    else:
        print("Not a palandrome")
rev_str()

Enter a word:  56

Not a palandrome

## Decorators

In [6]:
def upper_decor(func):
    def inner():
        res = func()
        return res.upper()
    return inner
def name():
    return "hello"
f=upper_decor(name)
print(f())

HELLO

In [7]:
def upper_decor(func):
    def inner():
        res = func()
        return res.upper()
    return inner

@upper_decor
def name():
    return "hello"
print(name())

HELLO

In [8]:
# passing arguments

def upper_decor(func):
    def inner(name):
        res = func(name)
        return res.upper()
    return inner

@upper_decor
def helloname(name):
    return "hello" + " " + name
print(helloname("Jemi"))

HELLO JEMI

In [9]:
def upr_dec(func):
    def inr():
        res = func()
        return res.upper()
    return inr
def name():
    return "hello"
f=upr_dec(name)
print(f())

HELLO

#### To Do list

In [1]:
todo_list=[]
def addlist():
    item = input("Enter a new task:")
    todo_list.append(item)
    print(f"{item} added to the todo list")

def displaylist():
    print(".........")
    print("TO Do List:")
    print(".........")
    for index,item in enumerate(todo_list,start=1):
        print(f"{index}-{item}")

def removelist():
    displaylist()
    index = int(input("Enter your item number to remove:"))-1
    if 0<=index<len(todo_list):
        removed_item=todo_list.pop(index)
        print(f"{removed_item} removed from the list")
    else:
        print("Invalid number")

while True:
    print("#########")
    print("To Do List App")
    print("########")
    print("1 - Add to list")
    print("2 - Display list")
    print("3 - Remove from list")
    print("4 - Exit")
    option = input("Select your option:")
    if option == "1":
        addlist()
    elif option == "2":
        displaylist()
    elif option == "3":
        removelist()
    elif option == "4":
        print("Exiting....")
        break
    else:
        print("Invalid option, please try again")

#########
To Do List App
########
1 - Add to list
2 - Display list
3 - Remove from list
4 - Exit

Select your option: 1
Enter a new task: 2

2 added to the todo list
#########
To Do List App
########
1 - Add to list
2 - Display list
3 - Remove from list
4 - Exit

Select your option: 2

.........
TO Do List:
.........
1-2
#########
To Do List App
########
1 - Add to list
2 - Display list
3 - Remove from list
4 - Exit

Select your option: 2

.........
TO Do List:
.........
1-2
#########
To Do List App
########
1 - Add to list
2 - Display list
3 - Remove from list
4 - Exit

Select your option: 2

.........
TO Do List:
.........
1-2
#########
To Do List App
########
1 - Add to list
2 - Display list
3 - Remove from list
4 - Exit

Select your option: 2

.........
TO Do List:
.........
1-2
#########
To Do List App
########
1 - Add to list
2 - Display list
3 - Remove from list
4 - Exit

Select your option: 4

Exiting....

In [2]:
def message():
    print("Hello")
message()

Hello

In [3]:
def mySum(a,b):
    c = a + b
    return c

In [4]:
mySum(2,4)

6

In [5]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [6]:
# 9) 

for i in range(1,21):
    if i%2==0:
        print(i)
    else:
        pass

2
4
6
8
10
12
14
16
18
20

In [7]:
# 10)

def sum():
    a=float(input("Enter first number: "))
    b=float(input("Enter second number: "))
    print("The sum of two numbers is:",a+b)
sum()

Enter first number:  1
Enter second number:  2

The sum of two numbers is: 3.0

In [8]:
# 13)

string = "aeroplane"
reverse_string = string[::-1]
print(reverse_string)

enalporea

In [9]:
# 14) 

string = "aeroplane"
vowels = "aeiouAEIOU"
count = 0
for i in string:
    if i in vowels:
        count+=1
    else:
        pass
print("The number of vowels in the given string is",count)

The number of vowels in the given string is 5

In [10]:
# 15)

string = input("Enter a string: ")
reverse_string = string[::-1]
if string == reverse_string:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter a string:  sdf

The string is not a palindrome

In [11]:
# 17)

dict1 = {"Name":"Arun","Age":25}
dict2 = {"Height": 175}
#dict1.update(dict2)
#dict1

#dict3 = dict1 | dict2
#dict3

dict4 = {**dict1,**dict2}
dict4

{'Name': 'Arun', 'Age': 25, 'Height': 175}

In [12]:
# 18)

def mysort(list):
    n=len(list)
    for i in range(0,n):
        for j in range(0,n-i-1):
            if list[j] > list[j+1]:
                list[j],list[j+1] = list[j+1],list[j]
list=[2,4,7,3,9,5]
mysort(list)
print(list)

[2, 3, 4, 5, 7, 9]

In [13]:
# 21)

class car:
    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
    def display_features(self):
        print("The make is:",self.make)
        print("The model is:",self.model)
        print("The year is:",self.year)
car1=car("Maruti","Baleno",2025)
car1.display_features()

The make is: Maruti
The model is: Baleno
The year is: 2025

In [14]:
# 22)

class parent:
    def __init__(self,name):
        self.name = name
    def displayName(self):
        print("Name is",self.name)
class son(parent):
    pass
son1=son("Arun")
son1.displayName()

Name is Arun

In [15]:
# 24)

for i in range(1,5):
    for j in range(1,i+1):
        print("*",end="")
    print()

*
**
***
****

In [16]:
# 25)

n = int(input("Enter number of elements: "))

list1=[]
for i in range(1,n+1):
    element = int(input("Enter an integer: "))
    list1.append(element)
print(list1)

new_list=[]
for i in list1:
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
    if count==2:
        new_list.append(i)
    else:
        pass
print(new_list)

Enter number of elements:  3
Enter an integer:  2
Enter an integer:  3
Enter an integer:  4

[2, 3, 4]
[2, 3]

In [17]:
# to form a calculator

def sum(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

print("We have 1 for addition")
print("We have 2 for substraction")
print("We have 3 for multiplication")
print("We have 4 for division")
print("We have 5 to quit")

option=int(input("Enter an option from 1 to 5: "))

num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))

if (option==1):
    print("Result:",sum(num1,num2))
elif (option==2):
    print("Result:",sub(num1,num2))
elif (option==3):
    print("Result:",mul(num1,num2))
elif (option==4):
    print("Result:",div(num1,num2))
else:
    print("Quit")

We have 1 for addition
We have 2 for substraction
We have 3 for multiplication
We have 4 for division
We have 5 to quit

Enter an option from 1 to 5:  2
Enter first number:  2
Enter second number:  34

Result: -32

In [ ]:
num1=int(input("Enter a first number: "))
num2=int(input("Enter a second number: "))
num3=int(input("Enter a third number: "))
if (num1>num2) and (num1>num3):
    print(num1,"is the largest")
elif (num2>num3) and (num2>num1):
    print(num2,"is the largest")
else:
    print(num3,"is the largest")

In [1]:
# print hello 20 times

i=1
while i<=10:
    print("Hello")
    i+=1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [2]:
# print 1 to 20 using while loop

i=1
while i<=20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
# multiplication table of a given number

num=int(input("Enter a number: "))
i=1
while i<=10:
    res=num*i
    print(i,"th/nd multiple of",num,"is",res)
    i+=1

Enter a number:  23

1 th/nd multiple of 23 is 23
2 th/nd multiple of 23 is 46
3 th/nd multiple of 23 is 69
4 th/nd multiple of 23 is 92
5 th/nd multiple of 23 is 115
6 th/nd multiple of 23 is 138
7 th/nd multiple of 23 is 161
8 th/nd multiple of 23 is 184
9 th/nd multiple of 23 is 207
10 th/nd multiple of 23 is 230

In [5]:
#print all odd numbers from 10 to 100

i=10
sum=0
while i<=100:
         if i%2 !=0:
      sum=sum+i
      i+=1
print(sum)

IndentationError: unindent does not match any outer indentation level (<string>, line 7)

In [6]:
# 1) User age check using if condition in python

age=int(input("Enter your age: "))
if age<18:
    print("You are a child")
elif (age>=18) and (age<30):
    print("You are an adult")
elif (age>=30) and (age<60):
    print("You are middle aged")
else:
    print("You are a senior citizen")

Enter your age:  34

You are middle aged

In [7]:
# 2) even or odd numbers using if condition in python

num=int(input("Enter a number: "))
if num%2==0:
    print("You entered an even number")
else:
    print("You entered an odd number")

Enter a number:  34

You entered an even number

In [8]:
# 3) to check if a string is empty in python

string=str(input("Enter a string: "))
if len(string)!=0:
    print("The string is non-empty")
else:
    print("The string is empty")

Enter a string:  ergf

The string is non-empty

In [9]:
# 4) To check I can vote or T cannot vote

a=int(input("Enter your age"))
if a<18:
    print("You cannot vote")
else:
    print("You can vote")

Enter your age 67

You can vote

In [10]:
# 5) Using multiple conditions, for enter the event to check age and has ticket

age=int(input("Enter your age: "))
doYouHaveTicket= str(input("Do you have ticket: "))
if (age>=18) and doYouHaveTicket.capitalize()=="Yes" :
    print("You are eligible for the event")
else:
    print("You are not eligible for the event")

Enter your age:  23
Do you have ticket:  no

You are not eligible for the event

In [11]:
# 6) Using in to check membership. Eg. fruits=['Apple','Banana','Orange']- to check banana in fruits or not

fruits=['Apple','Banana','Orange']
f=str(input("Enter a fruit: "))
if f.capitalize() in fruits:
    print(f,"is in fruits list")
else:
    print(f,"is not in fruits list")

Enter a fruit:  apple

apple is in fruits list

In [12]:
# 7) student score using if,elif & else

m=int(input("Enter your marks: "))
if m>=90:
    print("Grade A")
elif (m>=80) and (m<90):
    print("Grade B")
elif (m>=70) and (m<80):
    print("Grade C")
else:
    print("Grade F")

Enter your marks:  45

Grade F

In [13]:
# 1) print numbers from 1 to 10 using for loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
# 2) print even numbers from 1 to 20 using for loop

for i in range(1,21):
    if i%2==0:
        print(i)
    else:
        pass

2
4
6
8
10
12
14
16
18
20

In [15]:
# 3) calculate the sum of first 10 natural numbers using for loop

sum=0
for i in range(1,11):
    sum=sum+i
print(sum)

55

In [16]:
# 4) print each characters in a string using for for loop

a="Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [17]:
# 5) sum of digits of a number using while loop

num=756
num_string=str(num)
i=0
sum=0
while i<len(num_string):
    sum=sum+ int(num_string[i])
    i+=1
print(sum)

18