Numpy and Pandas

In [1]:
import pandas as pd
import numpy as np

OS Module

In [ ]:
import os

In [3]:
os.getcwd() # gives the directory where the jupiter notebook is located

'C:\\Users\\Vishnu Sagar\\Data Science'

In [3]:
os.listdir() # gives the deatils of all files in the current folder

['.ipynb_checkpoints',
 'Basic.ipynb',
 'Classwork-Numpy.ipynb',
 'customers-1000.csv',
 'Exercise.ipynb',
 'freecodecamp.ipynb',
 'freecodecampNumpyPandas.ipynb',
 'laptop_price.csv',
 'laptop_price2.csv',
 'mypythonWorkbook.ipynb',
 'My_Module.ipynb',
 'My_Module.py',
 'my_text_file.txt',
 'New Folder',
 'Notes & Problems.ipynb',
 'Project_Web_Scraping_using_Pandas.ipynb',
 'Test.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 '__pycache__']

In [6]:
os.makedirs("New Folder") # creates a new folder in the current folder

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'Basic.ipynb',
 'Classwork-Numpy.ipynb',
 'customers-1000.csv',
 'Exercise.ipynb',
 'freecodecamp.ipynb',
 'freecodecampNumpyPandas.ipynb',
 'laptop_price.csv',
 'laptop_price2.csv',
 'mypythonWorkbook.ipynb',
 'My_Module.ipynb',
 'My_Module.py',
 'my_text_file.txt',
 'New Folder',
 'Notes & Problems.ipynb',
 'Project_Web_Scraping_using_Pandas.ipynb',
 'Test.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 '__pycache__']

Python Pandas vs Excel

1. Limitation by size
2. Complex data transformation
3. Automation
4. Cross paltform capabilities

The two main data structures in pandas are series (1-D Array) and dataframe (2-D Array, in the form of a table)

The commonly used data structure is dataframe. In dataframe, we have the below terminology

                Row - Row
                Column - Series
                Row values - Observation
                Row heading - Index
                Column name - Features
                Empty cell - NaN (Not a Number)

Note: A single column should only have a single datatype

How to create a dataframe

1. Using Arrays/Numpy Arrays
2. Dictionary (Here key is used as column name and value is used as data)
3. CSV file

In [3]:
# 1) creating a dataframe from an array

#creating an array

data = [[1,4],[2,5],[3,6]]

# creating a dataframe

DF = pd.DataFrame(data, index=["Row1","Row2","Row3"],columns=["Col1","Col2"])

# showing the dataframe

DF

      Col1  Col2
Row1     1     4
Row2     2     5
Row3     3     6

In [4]:
# 1) creating a dataframe from a Numpy array

#creating an array

data = np.array([[1,4],[2,5],[3,6]])

# creating a dataframe

DF = pd.DataFrame(data, index=["Row1","Row2","Row3"],columns=["Col1","Col2"])

# showing the dataframe

DF

      Col1  Col2
Row1     1     4
Row2     2     5
Row3     3     6

In [5]:
# 2) creating a dataframe from a dictionary

#lists used for this example

states=["Kerala", "TN","Karnataka","Telengana"]
actors=["Mohanlal","Rajanikanth","Yash","Prabhas"]

#storing lists within a dictionary

dict_data={"State":states,"Actor":actors}

#creating the dataframe

DF = pd.DataFrame(dict_data)

#showing the dataframe

DF

       State        Actor
0     Kerala     Mohanlal
1         TN  Rajanikanth
2  Karnataka         Yash
3  Telengana      Prabhas

In [11]:
# giving indices (column names cannot be given)

DF1 = pd.DataFrame(dict_data, index=[1,2,3,4])
DF1

       State        Actor
1     Kerala     Mohanlal
2         TN  Rajanikanth
3  Karnataka         Yash
4  Telengana      Prabhas

In [12]:
# 3) creating a dataframe from a CSV file (also called a dataset)

DF = pd.read_csv("customers-1000.csv")
# DF.head()  to show the first 5 rows in a dataframe
# DF.tail()  to show last 5 rows in a dataframe
# DF.head(n) to show first n rows
# DF.tail(n) to show last n columns
pd.set_option("display.max_rows",20)  # here n is the total number of rows to be placed
DF

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

In [12]:
DF.shape  # gives the no of rows and columns

(1000, 12)

In [13]:
DF.head()  #to show the first 5 rows in a dataframe

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/

In [14]:
DF.tail()  # to show last 5 rows in a dataframe

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

In [16]:
DF.head(20)  # to show first n rows

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
5,6,8aaa5d0CE9ee311,Marissa,Gamble,Cherry and Sons,Webertown,Sudan,001-645-334-5514x0786,(751)980-3163,katieallison@leonard.com,2021-11-17,http://www.kaufman.org/
6,7,73B22Ac8A43DD1A,Julie,Cooley,"Yu, Norman and Sharp",West Sandra,Japan,+1-675-243-7422x9177,(703)337-5903,priscilla88@stephens.info,2022-03-26,http://www.sexton-chang.com/
7,8,DC94CCd993D311b,Lauren,Villa,"French, Travis and Hensley",New Yolanda,Fiji,081.226.1797x647,186.540.9690x605,colehumphrey@austin-caldwell.com,2020-08-14,https://www.kerr.com/
8,9,9Ba746Cb790FED9,Emily,Bryant,"Moon, Strickland and Combs",East Normanchester,Seychelles,430-401-5228x35091,115-835-3840,buckyvonne@church-lutz.com,2020-12-30,http://grimes.com/
9,10,aAa1EDfaA70DA0c,Marie,Estrada,May Inc,Welchton,United Arab Emirates,001-648-790-9244,973-767-3611,christie44@mckenzie.biz,2020-09-03,https://www.salinas.net/
10,11,bf104C25d0BA4E1,Nichole,Cannon,Rios and Sons,West Devon,Burundi,0647787401,139.476.1068,blandry@henson-harris.biz,2021-04-26,http://www.humphrey.org/
11,12,bf2fA37cbAd7dDc,Bernard,Ritter,Bradford and Sons,West Francisco,Palau,292.313.1902,(065)075-0554,tammiepope@arroyo-baldwin.com,2022-01-19,http://sellers.biz/
12,13,4fa8ffcdBbf53bB,Darryl,Archer,Kerr-Cherry,Holtfurt,Uganda,(389)437-1716,092.364.7349x593,woodalejandro@skinner-sloan.biz,2022-04-18,https://www.daniels.com/
13,14,aBd960429ecd363,Ryan,Li,"Hooper, Cross and Holt",Batesville,Liechtenstein,001-119-787-0125x4500,001-477-254-3645,lmassey@duke.com,2021-03-06,http://nunez.com/
14,15,2a0c691Ce19C6f3,Vicki,Nunez,"Leonard, Galvan and Blackburn",Barbaraborough,Haiti,(217)474-0312,(098)195-0840x79579,zgrant@sweeney.com,2022-01-30,https://reynolds.com/
15,16,B58fecf82f997Dd,Sean,Townsend,Preston-Sosa,Velasquezberg,Iran,001-534-283-5153,5786415664,lkline@maxwell.info,2020-05-30,http://www.vargas.biz/
16,17,41d0201DcF028b5,Sophia,Mathis,Richard-Velasquez,Toddhaven,Switzerland,001-858-762-7896x916,274-147-4185x15182,brockmason@faulkner-may.com,2020-01-23,http://www.vaughn.com/
17,18,B1A1b09CD5C3b6a,Helen,Potts,"Rangel, Livingston and Patel",Douglasland,Seychelles,(140)862-2659,+1-875-299-7166,carrollmia@donovan-keith.com,2021-07-27,http://www.kennedy-edwards.biz/
18,19,ba5a73D210dCcE4,Joann,Finley,Harvey PLC,Barrettshire,Montserrat,(941)715-8720x950,155.433.4824x955,gabriela86@sampson.com,2022-04-11,http://www.harrell.com/
19,20,F6cD561cecdfA6d,Thomas,Walsh,Best-Thomas,Roblesport,Kiribati,679.326.0724,001-305-038-6009,timcoleman@frank-king.org,2020-09-11,http://www.kane.com/

In [17]:
DF.tail(20)  # to show last n columns

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
980,981,B44fd0024F9F853,Kendra,Zamora,Perez LLC,Bensonmouth,Lao People's Democratic Republic,(501)586-1110x57986,7927198966,pecksamantha@huber.com,2021-08-25,http://www.lamb.info/
981,982,1dFa2Ae2BA1c6b7,Dakota,Salas,Greene Group,Coleburgh,Cook Islands,+1-975-398-3312x6830,(327)308-5754x49530,murillomarcia@wyatt.info,2021-07-13,https://www.gregory-hawkins.info/
982,983,cEb0837433A348b,Jimmy,Wang,Bentley and Sons,Doughertyfurt,Russian Federation,750-322-6558,(114)027-4583x291,fbarrett@steele-blanchard.com,2020-06-01,https://garner-pierce.com/
983,984,Ff2d5a11Cc04713,Lisa,Yates,Blair Group,Valeriehaven,United States Minor Outlying Islands,001-932-182-2660x0209,+1-952-388-1203,beverlypreston@cook-fuller.info,2020-07-29,https://huber.com/
984,985,fDeEA94e308E40B,Collin,White,Silva-Walters,Chenton,Bangladesh,(115)594-1470,(632)593-2961,andrea14@tran-stevens.org,2021-11-14,https://nash.org/
985,986,e847e7A59d5b79C,Brittney,Horn,Wall Inc,South Michael,Iraq,201-612-7730x83016,+1-251-340-9359x188,rthornton@hendrix.com,2021-10-17,http://www.giles-barron.net/
986,987,e9d6Dbc37c7FEca,Maureen,Hurst,Reilly-Monroe,Mosesberg,Mongolia,757-412-2039x9425,+1-157-747-7793,wolfecody@marshall.net,2020-01-05,http://blair.com/
987,988,e4D86CB5ED2a7c6,Cynthia,Greene,Choi Ltd,Hancockchester,Ghana,001-241-633-1236x0619,+1-816-826-1774x7691,chad71@blankenship.org,2020-12-02,https://bridges.info/
988,989,bafc42A5bdEdcCB,Maureen,Rivers,Patrick Inc,Maxwellborough,Guyana,(759)812-4987,(963)705-8521,duncaneric@salas-huff.org,2020-05-16,http://chung.org/
989,990,10f6fe41F7f714c,Garrett,Villa,"Meadows, Lowe and Brennan",Calebbury,American Samoa,238.972.7132x0187,126-834-4569x7645,duncanpedro@higgins-maldonado.com,2020-02-27,https://briggs-villa.com/
990,991,d9f860f54bF823e,Bill,Richards,Grant Inc,South Shellyview,Liechtenstein,(634)290-5807,738-287-3938,roger88@holden.com,2022-03-01,http://norton-buck.com/
991,992,aB56cEcDBa37C34,Kiara,Moon,Olsen-Morse,Hesterburgh,American Samoa,001-414-102-0839x208,663-698-9231x994,paynesteven@nguyen-richardson.com,2020-12-05,http://yang.org/
992,993,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,Aaronfort,Isle of Man,(336)784-5689x056,824-252-8040x713,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/
993,994,0DC07FbBC85ac2C,Evan,Marsh,"Orozco, Valenzuela and Warren",Lake Darrellshire,Philippines,001-925-357-3563,(130)334-5158x9385,julia00@mcclure.info,2020-02-09,https://turner-giles.biz/
994,995,c9c09BdD3c9de1a,Kristie,Rice,Harper Ltd,East Leslie,Guinea,4200976464,+1-766-057-0583,joycecombs@guerra-burns.com,2021-12-06,https://www.pena.com/
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

### Pandas - Attributes, Methods & Functions

In [41]:
# Attributes are value associated with an object (referenced by name using dotted expressions)
# Fuctions is a group of related statements that performs a specific task
# Method is a function which is defined inside a class body

##### Attributes

In [46]:
# getting access to the shape attribute

DF.shape

(1000, 12)

In [47]:
# getting access to the index attribute

DF.index

RangeIndex(start=0, stop=1000, step=1)

In [12]:
# getting access to the column attribute

DF.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [50]:
# data type of each columns

DF.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

##### Methods

In [7]:
# showing the info of the dataframe

DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              1000 non-null   int64
 1   Customer Id        1000 non-null   object
 2   First Name         1000 non-null   object
 3   Last Name          1000 non-null   object
 4   Company            1000 non-null   object
 5   City               1000 non-null   object
 6   Country            1000 non-null   object
 7   Phone 1            1000 non-null   object
 8   Phone 2            1000 non-null   object
 9   Email              1000 non-null   object
 10  Subscription Date  1000 non-null   object
 11  Website            1000 non-null   object
dtypes: int64(1), object(11)
memory usage: 93.9+ KB

In [17]:
# describing basic statistics of the dataframe (only of numeric columns)

DF.describe()

             Index
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

##### Functions

In [20]:
# obtaining length of a dataframe (number of rows)

len(DF)

# len(DF.index)

1000

In [18]:
# obtaining number of columns

len(DF.columns)

12

In [10]:
# Obtaining the highest index of the dataframe

max(DF.index)

999

In [62]:
# Obtaining the lowest index of the dataframe

min(DF.index)

0

In [63]:
# obtaining the values of the dataset

type(DF)

pandas.core.frame.DataFrame

In [73]:
# rounding the float values of the dataset

#round(DF,2)

##### Selecting one column

In [19]:
# select a column with [] (preferred way to select a column)

DF["City"].head(20)  # get the column as a series

0            Rowlandberg
1               Bethside
2           Moniquemouth
3             Leeborough
4       Port Jacksonland
5              Webertown
6            West Sandra
7            New Yolanda
8     East Normanchester
9               Welchton
10            West Devon
11        West Francisco
12              Holtfurt
13            Batesville
14        Barbaraborough
15         Velasquezberg
16             Toddhaven
17           Douglasland
18          Barrettshire
19            Roblesport
Name: City, dtype: object

In [20]:
DF[["City"]].head(20) # get a datdrame with that particular column

                  City
0          Rowlandberg
1             Bethside
2         Moniquemouth
3           Leeborough
4     Port Jacksonland
5            Webertown
6          West Sandra
7          New Yolanda
8   East Normanchester
9             Welchton
10          West Devon
11      West Francisco
12            Holtfurt
13          Batesville
14      Barbaraborough
15       Velasquezberg
16           Toddhaven
17         Douglasland
18        Barrettshire
19          Roblesport

In [22]:
# check out the data type of a column

type(DF["City"])

pandas.core.series.Series

In [68]:
DF["City"].index

RangeIndex(start=0, stop=1000, step=1)

In [69]:
DF["City"].head()

0         Rowlandberg
1            Bethside
2        Moniquemouth
3          Leeborough
4    Port Jacksonland
Name: City, dtype: object

In [24]:
# Another way to select a column

DF.City

# But dosenot works on column names with space between words

0               Rowlandberg
1                  Bethside
2              Moniquemouth
3                Leeborough
4          Port Jacksonland
               ...
995       Lake Jacksonmouth
996    South Dominiquemouth
997         East Chloeshire
998             South Shane
999              East Wendy
Name: City, Length: 1000, dtype: object

##### Selecting two or more columns

In [46]:
# using [[]]

DF[['City','Country']] # the order of output will based on the input

                     City                                            Country
0             Rowlandberg                                              Macao
1                Bethside                                   Papua New Guinea
2            Moniquemouth                                              China
3              Leeborough                                              Macao
4        Port Jacksonland                                              Nepal
..                    ...                                                ...
995     Lake Jacksonmouth                                          Guatemala
996  South Dominiquemouth                                            Georgia
997       East Chloeshire                                    Solomon Islands
998           South Shane                                            Finland
999            East Wendy  British Indian Ocean Territory (Chagos Archipe...

[1000 rows x 2 columns]

In [80]:
type(DF[['City','Country']])

pandas.core.frame.DataFrame

# Selecting columns of specific type

In [61]:
# selecting only integer columns
DF.select_dtypes(include = "int")

# selecting float columns only
DF.select_dtypes(include = "float")

# selecting only string columns
DF.select_dtypes(include = "string")

# selecting only object columns
DF.select_dtypes(include = "object")

# selecting only numeric columns (int + float)
DF.select_dtypes(include = "number")

     Index  text3      text1
0        1     18  78.607639
1        2     91  29.179068
2        3     39  33.220624
3        4     63  26.698749
4        5     92  11.048608
..     ...    ...        ...
995    996     39  29.725052
996    997      6  92.445509
997    998     92  19.751959
998    999     51  78.021329
999   1000     25  20.992074

[1000 rows x 3 columns]

##### Adding a new colunm

In [109]:
# Adding a new column with a scalar value

DF["New Column"]=50
DF

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50

In [110]:
# Adding a new column with an numpy array

# the dataframe has 1000 rows, so we need to create an array with 1000 elements

newCoulmn= np.arange(0,1000)
DF["New Column 2"]=newCoulmn
DF

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50,995
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50,996
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50,997
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50,998
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50,999

In [111]:
# adding a new column using random integers between 1 and 100

d = np.random.randint(1,100,size=1000)  # includes the starting point and excludes the end point
DF["New Column 3"]= d
print(min(DF["New Column 3"]))
print(max(DF["New Column 3"]))
DF

1
99

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0,34
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1,35
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2,56
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3,76
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50,995,68
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50,996,1
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50,997,98
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50,998,73
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50,999,68

In [112]:
# adding a new column using random float numbers between 1 and 100

d1=np.random.uniform(1.00,100.00,1000)
DF["New Column 4"]=d1
round(DF,2)
#min(DF["New Column 4"])
#max(DF["New Column 4"])

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0,34,14.43
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1,35,63.33
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2,56,30.41
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3,76,92.33
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4,39,93.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50,995,68,97.24
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50,996,1,84.03
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50,997,98,9.08
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50,998,73,85.25
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50,999,68,5.99

### Adding a new column using assign()


 - Uses when we need to add multiple columns in a single line of code
 - When you need to overwrite the values of an existing columns(best practice)
 - It returns a new object (a copy) with all the original columns in addition to the new ones

In [32]:
# create randoms numbers for new columns

data1=np.random.randint(1,100,size=1000)
data2=np.random.uniform(1,100,size=1000)

#create a series using the random numbers

series1=pd.Series(data1,index=np.arange(0,1000))
series2=pd.Series(data2,index=np.arange(0,1000))

DF.assign(text3=series1, text1=series2, text4=data2, Website=5) # only gives a copy of original dataframe

# cons- we cannot add or modify columns with column name with space in between the words

# quotes cannot be used for columns

#DF= DF.assign(text3=series1,text1=series2) # assign to the original dataframe
#DF

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,text3,text1,text4
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,5,57,68.240799,68.240799
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,5,18,70.943953,70.943953
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,5,99,96.934778,96.934778
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,5,1,17.984088,17.984088
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,5,73,73.361740,73.361740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,5,80,89.678062,89.678062
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,5,35,66.292569,66.292569
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,5,51,15.147243,15.147243
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,5,67,16.643505,16.643505
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,5,81,67.392591,67.392591

### Insert() method - inserts a new column at a specific position or index

In [121]:
DF.insert(1,"text",series1) # it doenot creates a copy but overwrite the original dataframe
DF  # the same line cannot be run more than once, it will show error

,Index,text,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
0,1,35,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0,34,14.427418
1,2,14,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1,35,63.327054
2,3,2,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2,56,30.407950
3,4,31,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3,76,92.326092
4,5,71,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4,39,93.925220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,39,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50,995,68,97.238763
996,997,15,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50,996,1,84.029533
997,998,2,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50,997,98,9.078591
998,999,88,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50,998,73,85.251028
999,1000,98,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50,999,68,5.987501

In [122]:
DF.insert(2,"text2",5)
DF # Need to recall the dataframe to show the output

,Index,text,text2,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
0,1,35,5,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0,34,14.427418
1,2,14,5,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1,35,63.327054
2,3,2,5,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2,56,30.407950
3,4,31,5,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3,76,92.326092
4,5,71,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4,39,93.925220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,39,5,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50,995,68,97.238763
996,997,15,5,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50,996,1,84.029533
997,998,2,5,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50,997,98,9.078591
998,999,88,5,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50,998,73,85.251028
999,1000,98,5,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50,999,68,5.987501

In [36]:
array = [[1],[2],[3],[4]]
sarray = [1,2,3,4,]
narray = np.array([[5],[6],[7],[8]])
nsarray = np.array([9,10,11,12])
DF2 = pd.DataFrame({"Names":["A","B","C","D"],"Age":[15,20,25,30]})
DF2.assign(col1=array, col2=narray, col3=sarray, col4=nsarray)

  Names  Age col1  col2  col3  col4
0     A   15  [1]     5     1     9
1     B   20  [2]     6     2    10
2     C   25  [3]     7     3    11
3     D   30  [4]     8     4    12

## Mathematical operations in columns

In [47]:
DF.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,text3,text1
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,18,78.607639
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,91,29.179068
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,39,33.220624
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,63,26.698749
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,92,11.048608

In [124]:
# select a column and calculate total sum

print(DF["text"].sum())

49201

In [82]:
# count, mean, std, max, min

print(DF["text"].count())

print("Count of columns ################")

print(DF.count())

print("Sum of columns ################")

print(DF.sum())  # concatenate non-numeric columns and gives sum of numeric columns

print("################")

# below functions can only applied to a single numerical column, not to the whole dataframe

print(DF["text"].mean())
print(DF["text"].std())
print(DF["text"].max())
print(DF["text"].min())

1000
Count of columns ################
Index                1000
text                 1000
text2                1000
Customer Id          1000
First Name           1000
Last Name            1000
Company              1000
City                 1000
Country              1000
Phone 1              1000
Phone 2              1000
Email                1000
Subscription Date    1000
Website              1000
dtype: int64
Sum of columns ################
Index                                                           500500
text                                                             51249
text2                                                             5000
Customer Id          dE014d010c7ab0c2B54172c8b65eC3d794Dd48988d2ac3...
First Name           AndrewAlvinJennaFernandoKaraMarissaJulieLauren...
Last Name            GoodmanLaneHardingFordWoodsGambleCooleyVillaBr...
Company              Stewart-FlynnTerry, Proctor and LawrenceBailey...
City                 RowlandbergBethsideMoniquemouthLeeboroughPort ...
Country              MacaoPapua New GuineaChinaMacaoNepalSudanJapan...
Phone 1              846-790-4623x4715124-597-8652x05682(335)987-30...
Phone 2              (422)787-2331x71127321.441.0588x6218001-680-20...
Email                marieyates@gomez-spencer.infoalexandra86@mccoy...
Subscription Date    2021-07-262021-06-242020-04-052020-11-292022-0...
Website              http://www.shea.biz/http://www.pena-cole.com/h...
dtype: object
################
51.249
28.088609238781643
99
1

In [14]:
DF

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

In [17]:
### applies to multiple columns

print(DF[["text3","text1"]].sum())
print(DF[["text3","text1"]].count())
print(DF[["text3","text1"]].mean())
print(DF[["text3","text1"]].std())
print(DF[["text3","text1"]].max())
print(DF[["text3","text1"]].min())

text3    49953.000000
text1    49970.313745
dtype: float64
text3    1000
text1    1000
dtype: int64
text3    49.953000
text1    49.970314
dtype: float64
text3    28.815258
text1    27.569389
dtype: float64
text3    99.000000
text1    99.977405
dtype: float64
text3    1.000000
text1    1.060216
dtype: float64

In [68]:
# easier calculation using describe() method

DF["text5"].describe()

count    1000.000000
mean       51.219000
std        28.027318
min         1.000000
25%        27.000000
50%        50.000000
75%        77.000000
max        99.000000
Name: text5, dtype: float64

In [126]:
# applies to multiple numerical columns

DF[["text","text2"]].describe()

              text   text2
count  1000.000000  1000.0
mean     49.201000     5.0
std      28.867767     0.0
min       1.000000     5.0
25%      23.000000     5.0
50%      49.500000     5.0
75%      74.000000     5.0
max      99.000000     5.0

In [127]:
DF.describe() # applies to all numerical columns in the dataframe

,Index,text,text2,New Column,New Column 2,New Column 3,New Column 4
count,1000.000000,1000.000000,1000.0,1000.0,1000.000000,1000.000000,1000.000000
mean,500.500000,49.201000,5.0,50.0,499.500000,49.469000,49.254346
std,288.819436,28.867767,0.0,0.0,288.819436,29.114682,28.809163
min,1.000000,1.000000,5.0,50.0,0.000000,1.000000,1.183224
25%,250.750000,23.000000,5.0,50.0,249.750000,25.000000,23.271509
50%,500.500000,49.500000,5.0,50.0,499.500000,47.500000,48.820395
75%,750.250000,74.000000,5.0,50.0,749.250000,75.000000,74.607183
max,1000.000000,99.000000,5.0,50.0,999.000000,99.000000,99.826684

### Operations in rows

In [129]:
# calculating the row sums

DF["text2"].head() + DF["New Column"].head() + DF["New Column 2"].head()

0    55
1    56
2    57
3    58
4    59
dtype: int64

In [70]:
# calculating row average and assigning the result to a new column

DF["Average"]=(DF["text3"] + DF["text1"] + DF["text"])/3
DF.round(2)

,Index,text,text5,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
0,1,47,70,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,...,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0,22,36.30,47,48.87,47.62
1,2,12,39,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,...,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1,26,95.18,12,98.08,40.69
2,3,78,48,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,...,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2,92,60.19,78,12.72,56.24
3,4,74,21,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,...,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3,13,22.92,74,89.17,79.06
4,5,20,80,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,...,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4,28,33.26,20,42.96,27.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,50,6,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,...,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,50,995,53,91.49,50,42.27,47.42
996,997,68,30,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,...,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,50,996,25,55.15,68,23.28,53.09
997,998,15,83,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,...,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,50,997,42,3.95,15,24.31,18.10
998,999,54,52,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,...,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,50,998,44,92.60,54,91.11,66.37
999,1000,2,21,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,...,owarner@velasquez.info,2021-12-09,http://www.cox.com/,50,999,92,68.20,2,7.58,3.86

### Value Counts

In [130]:
# len function

len(DF["City"])

# count() method

DF["City"].count()

np.int64(1000)

In [131]:
# counting elements in a column by category

DF["City"].value_counts()

City
Port Gavin              2
Lake Dwayne             2
Tommyshire              2
New Yolanda             2
South Roberta           2
                       ..
East Leslie             1
Lake Jacksonmouth       1
South Dominiquemouth    1
East Chloeshire         1
Hollyside               1
Name: count, Length: 983, dtype: int64

In [132]:
# to find the relative frequency (divide the value by total count)

DF["City"].value_counts(normalize=True)

City
Port Gavin              0.002
Lake Dwayne             0.002
Tommyshire              0.002
New Yolanda             0.002
South Roberta           0.002
                        ...
East Leslie             0.001
Lake Jacksonmouth       0.001
South Dominiquemouth    0.001
East Chloeshire         0.001
Hollyside               0.001
Name: proportion, Length: 983, dtype: float64

In [63]:
DF[["City","Company"]].value_counts()

City             Company
Zoefurt          Monroe-Mccoy                   1
Aaronfort        Myers Group                    1
Aaronville       Holloway-Nolan                 1
Acevedomouth     Gutierrez PLC                  1
Adamsfurt        Bray PLC                       1
                                               ..
Alextown         Burnett, Vang and Delgado      1
Alexfort         Swanson, Landry and Jackson    1
Alexberg         Glass-Shepard                  1
Alexaside        Bush, Knapp and Gaines         1
Alexandriamouth  Bridges-Keller                 1
Name: count, Length: 1000, dtype: int64

In [133]:
DF.loc[0,"Country"]="China"
DF.loc[4,"City"] = "Leeborough"
DF.loc[4,"Country"] = "Macao"
DF.head()

,Index,text,text2,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
0,1,35,5,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,China,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,50,0,34,14.427418
1,2,14,5,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,50,1,35,63.327054
2,3,2,5,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,50,2,56,30.407950
3,4,31,5,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,50,3,76,92.326092
4,5,71,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Leeborough,Macao,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,50,4,39,93.925220

In [134]:
DF[["City","Country"]].head().value_counts() # here pair of (City,Country) is considered as a single value and sorting is done based on this

City          Country
Leeborough    Macao               2
Bethside      Papua New Guinea    1
Moniquemouth  China               1
Rowlandberg   China               1
Name: count, dtype: int64

### Sort a dataframe

In [135]:
# sort by one column

DF.sort_values(by="City") # sort in ascending order by default and creates a copy of the dataframe
# DF.sort_values("City") This also works, 'by' is not necessary

,Index,text,text2,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
992,993,62,5,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,Aaronfort,Isle of Man,(336)784-5689x056,824-252-8040x713,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,50,992,81,62.970508
822,823,88,5,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,Aaronville,Gibraltar,001-884-328-3072,+1-780-506-4115,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,50,822,46,72.563389
808,809,79,5,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,Acevedomouth,Solomon Islands,(653)584-1417,001-075-268-8459x907,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,808,85,10.560659
207,208,6,5,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,Adamsfurt,Gibraltar,232.534.0126x732,991-885-7191,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,50,207,79,49.532383
298,299,23,5,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,Adamston,Bouvet Island (Bouvetoya),031.753.3794x79094,437-693-8543x5154,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,50,298,70,12.463022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,78,5,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",Yvetteville,Comoros,022.369.2480x0199,591-250-2798x13722,krausetom@buckley.org,2022-03-10,http://herrera.com/,50,915,1,46.248665
748,749,70,5,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,Yvonnemouth,Iceland,+1-780-140-3427x06362,458-277-0493,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,50,748,40,75.725230
501,502,66,5,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,Zamoraburgh,Lebanon,+1-807-089-5478,+1-245-439-4377x124,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,50,501,8,16.292923
818,819,78,5,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,Zavalaview,Gabon,+1-692-985-7073x2420,+1-502-434-3597x2946,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,50,818,1,63.404600
230,231,86,5,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,Zoefurt,Japan,367.187.0987x3041,+1-258-982-1772x31593,tzimmerman@moore.com,2021-09-08,http://holt.org/,50,230,38,89.454587

In [136]:
DF.sort_values("City",ascending=False)

,Index,text,text2,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
230,231,86,5,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,Zoefurt,Japan,367.187.0987x3041,+1-258-982-1772x31593,tzimmerman@moore.com,2021-09-08,http://holt.org/,50,230,38,89.454587
818,819,78,5,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,Zavalaview,Gabon,+1-692-985-7073x2420,+1-502-434-3597x2946,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,50,818,1,63.404600
501,502,66,5,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,Zamoraburgh,Lebanon,+1-807-089-5478,+1-245-439-4377x124,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,50,501,8,16.292923
748,749,70,5,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,Yvonnemouth,Iceland,+1-780-140-3427x06362,458-277-0493,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,50,748,40,75.725230
915,916,78,5,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",Yvetteville,Comoros,022.369.2480x0199,591-250-2798x13722,krausetom@buckley.org,2022-03-10,http://herrera.com/,50,915,1,46.248665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,23,5,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,Adamston,Bouvet Island (Bouvetoya),031.753.3794x79094,437-693-8543x5154,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,50,298,70,12.463022
207,208,6,5,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,Adamsfurt,Gibraltar,232.534.0126x732,991-885-7191,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,50,207,79,49.532383
808,809,79,5,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,Acevedomouth,Solomon Islands,(653)584-1417,001-075-268-8459x907,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,808,85,10.560659
822,823,88,5,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,Aaronville,Gibraltar,001-884-328-3072,+1-780-506-4115,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,50,822,46,72.563389
992,993,62,5,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,Aaronfort,Isle of Man,(336)784-5689x056,824-252-8040x713,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,50,992,81,62.970508

In [140]:
# sort descending by multiple columns

DF.sort_values(by=["City","text"],ascending=False)  # only creates a copy of the original dataframe
#DF.sort_values(["City","text"],ascending=False) # this also works , keyword 'by' is not mandatory

,Index,text,text2,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
230,231,86,5,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,Zoefurt,Japan,367.187.0987x3041,+1-258-982-1772x31593,tzimmerman@moore.com,2021-09-08,http://holt.org/,50,230,38,89.454587
818,819,78,5,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,Zavalaview,Gabon,+1-692-985-7073x2420,+1-502-434-3597x2946,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,50,818,1,63.404600
501,502,66,5,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,Zamoraburgh,Lebanon,+1-807-089-5478,+1-245-439-4377x124,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,50,501,8,16.292923
748,749,70,5,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,Yvonnemouth,Iceland,+1-780-140-3427x06362,458-277-0493,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,50,748,40,75.725230
915,916,78,5,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",Yvetteville,Comoros,022.369.2480x0199,591-250-2798x13722,krausetom@buckley.org,2022-03-10,http://herrera.com/,50,915,1,46.248665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,23,5,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,Adamston,Bouvet Island (Bouvetoya),031.753.3794x79094,437-693-8543x5154,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,50,298,70,12.463022
207,208,6,5,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,Adamsfurt,Gibraltar,232.534.0126x732,991-885-7191,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,50,207,79,49.532383
808,809,79,5,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,Acevedomouth,Solomon Islands,(653)584-1417,001-075-268-8459x907,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,808,85,10.560659
822,823,88,5,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,Aaronville,Gibraltar,001-884-328-3072,+1-780-506-4115,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,50,822,46,72.563389
992,993,62,5,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,Aaronfort,Isle of Man,(336)784-5689x056,824-252-8040x713,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,50,992,81,62.970508

In [19]:
# sort by multiple columns each in different order

DF.sort_values(by=["City","Country"],ascending=[False,True])

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,text3,text1
230,231,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,Zoefurt,Japan,367.187.0987x3041,+1-258-982-1772x31593,tzimmerman@moore.com,2021-09-08,http://holt.org/,72,93.541703
818,819,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,Zavalaview,Gabon,+1-692-985-7073x2420,+1-502-434-3597x2946,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,63,70.509782
501,502,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,Zamoraburgh,Lebanon,+1-807-089-5478,+1-245-439-4377x124,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,92,64.450386
748,749,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,Yvonnemouth,Iceland,+1-780-140-3427x06362,458-277-0493,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,67,37.202720
915,916,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",Yvetteville,Comoros,022.369.2480x0199,591-250-2798x13722,krausetom@buckley.org,2022-03-10,http://herrera.com/,26,96.293420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,Adamston,Bouvet Island (Bouvetoya),031.753.3794x79094,437-693-8543x5154,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,73,34.825794
207,208,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,Adamsfurt,Gibraltar,232.534.0126x732,991-885-7191,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,31,94.117456
808,809,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,Acevedomouth,Solomon Islands,(653)584-1417,001-075-268-8459x907,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,86.373890
822,823,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,Aaronville,Gibraltar,001-884-328-3072,+1-780-506-4115,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,57,24.109581
992,993,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,Aaronfort,Isle of Man,(336)784-5689x056,824-252-8040x713,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,96,28.337292

In [142]:
# sort descending by multiple columns and update dataframe

DF.sort_values(["City","text"],ascending=False, inplace=True)
DF

# DF= DF.sort_values(["City","text"],ascending=False)  Another method

,Index,text,text2,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4
230,231,86,5,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,Zoefurt,Japan,367.187.0987x3041,+1-258-982-1772x31593,tzimmerman@moore.com,2021-09-08,http://holt.org/,50,230,38,89.454587
818,819,78,5,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,Zavalaview,Gabon,+1-692-985-7073x2420,+1-502-434-3597x2946,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,50,818,1,63.404600
501,502,66,5,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,Zamoraburgh,Lebanon,+1-807-089-5478,+1-245-439-4377x124,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,50,501,8,16.292923
748,749,70,5,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,Yvonnemouth,Iceland,+1-780-140-3427x06362,458-277-0493,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,50,748,40,75.725230
915,916,78,5,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",Yvetteville,Comoros,022.369.2480x0199,591-250-2798x13722,krausetom@buckley.org,2022-03-10,http://herrera.com/,50,915,1,46.248665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,23,5,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,Adamston,Bouvet Island (Bouvetoya),031.753.3794x79094,437-693-8543x5154,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,50,298,70,12.463022
207,208,6,5,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,Adamsfurt,Gibraltar,232.534.0126x732,991-885-7191,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,50,207,79,49.532383
808,809,79,5,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,Acevedomouth,Solomon Islands,(653)584-1417,001-075-268-8459x907,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,808,85,10.560659
822,823,88,5,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,Aaronville,Gibraltar,001-884-328-3072,+1-780-506-4115,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,50,822,46,72.563389
992,993,62,5,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,Aaronfort,Isle of Man,(336)784-5689x056,824-252-8040x713,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,50,992,81,62.970508

In [90]:
# sort descending with a key function

DF.sort_values("Customer Id",ascending=False, key=lambda col:col.str.upper())

,Index,text,text5,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
718,719,74,42,ffE8F5d071d1D48,Jasmine,Morrison,"Morrison, Graves and Odom",Skinnerland,Guadeloupe,(085)177-8857x9901,...,mhayes@moss-martinez.com,2020-04-09,https://james.com/,50,718,32,71.607892,74,16.408599,54.802866
131,132,22,75,ffc96A6EDB33EFf,Raven,Nelson,"Suarez, Hull and Key",East Kristenfort,Luxembourg,0205080357,...,fashley@burns-mckenzie.com,2020-10-23,https://www.rodgers.net/,50,131,27,18.396668,22,16.845789,20.281930
627,628,38,46,FF8fd2c75FeadBE,Frank,Walter,Barnett-Floyd,Yolandatown,Saint Pierre and Miquelon,001-835-636-2317x30070,...,leachnina@cantrell.com,2020-03-26,https://morrison.com/,50,627,32,60.452978,38,97.931168,57.977056
566,567,92,19,Ff5aB5C9b6f2Da7,Lee,Mercado,Pierce-Wilkinson,East Normaville,Panama,001-688-880-0262x9032,...,wilkersonnicholas@crosby.net,2020-11-15,https://strickland.com/,50,566,88,96.543626,92,64.201046,82.733682
452,453,57,19,ff3aB296eC3CbfF,Marcus,Thompson,Prince-Hodges,New Gwendolyn,Albania,0296285294,...,gravesjanice@rice.org,2021-08-27,http://www.wall.org/,50,452,96,43.990153,57,96.972936,70.324312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,463,3,99,01AEbCbD0cB7cCd,Jeremiah,May,Larson LLC,Gabrielleland,Macao,(262)014-0619x128,...,fgoodman@livingston.org,2021-07-29,https://camacho.net/,50,462,64,21.142192,3,4.452233,3.484078
625,626,89,2,014A372AC33c4F4,Kelli,Gonzales,Miles Ltd,Lake Dominique,Slovenia,(146)723-4725x320,...,jgonzales@maddox.com,2020-05-24,http://www.ellison.com/,50,625,14,19.040098,89,48.635725,75.545242
493,494,25,23,0115aEF33Ff7afC,Philip,Harding,Burgess-Stephenson,Jenniferland,Turkmenistan,161-735-9006x7587,...,barrerasamantha@manning.com,2020-05-10,http://rivera.net/,50,493,73,72.046561,25,67.339271,39.113090
703,704,28,81,002c9A213Db0067,Dale,Hendricks,Levine-Larsen,Carrfurt,Turkmenistan,975-431-3171,...,robertamays@waters-joseph.com,2020-07-09,https://morse.com/,50,703,55,54.760389,28,97.079625,51.026542
547,548,26,82,0001fA39dA6D349,Leon,Hendricks,Hood Inc,South Angelica,Chad,(279)741-0423x69516,...,drew59@strong.info,2020-07-31,http://owen.com/,50,547,70,55.035839,26,56.123187,36.041062

In [97]:
t=["Male","Female","Female","Male"]
l=(t*250)
series3=pd.Series(l,index=np.arange(0,1000))
DF.insert(1,"GGGender",series3)
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
230,231,Female,Female,Female,37,79,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,...,tzimmerman@moore.com,2021-09-08,http://holt.org/,50,230,24,3.146530,37,74.260413,49.420138
818,819,Female,Female,Female,5,76,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,...,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,50,818,1,99.114474,5,22.824853,10.941618
501,502,Female,Female,Female,37,68,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,...,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,50,501,30,98.315146,37,65.377420,46.459140
748,749,Male,Male,Male,61,9,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,...,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,50,748,61,39.359677,61,45.298957,55.766319
915,916,Male,Male,Male,81,94,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",...,krausetom@buckley.org,2022-03-10,http://herrera.com/,50,915,49,7.612422,81,12.473477,58.157826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,Female,Female,Female,87,82,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,...,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,50,298,50,9.105063,87,26.342012,66.780671
207,208,Male,Male,Male,65,81,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,...,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,50,207,52,25.243812,65,61.323751,63.774584
808,809,Male,Male,Male,50,43,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,...,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,808,83,25.395355,50,12.716527,37.572176
822,823,Female,Female,Female,7,23,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,...,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,50,822,72,50.629387,7,60.221071,24.740357
992,993,Male,Male,Male,57,25,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,...,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,50,992,31,5.312856,57,22.750866,45.583622

## The set_index() and sort_index() methods

In [190]:
import numpy as np
import random

##### Create index

In [100]:
# creating non repetitive values for the index

new_index = np.arange(0,1000)

# shuffling the indexes

np.random.shuffle(new_index)

# create a new column with new index

DF["new_index"] = new_index
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average,new_index
230,231,Female,Female,Female,37,79,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,...,2021-09-08,http://holt.org/,50,230,24,3.146530,37,74.260413,49.420138,453
818,819,Female,Female,Female,5,76,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,...,2021-02-18,http://www.perkins.com/,50,818,1,99.114474,5,22.824853,10.941618,435
501,502,Female,Female,Female,37,68,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,...,2020-05-14,http://www.nielsen-davidson.com/,50,501,30,98.315146,37,65.377420,46.459140,5
748,749,Male,Male,Male,61,9,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,...,2020-07-21,https://olsen.info/,50,748,61,39.359677,61,45.298957,55.766319,30
915,916,Male,Male,Male,81,94,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",...,2022-03-10,http://herrera.com/,50,915,49,7.612422,81,12.473477,58.157826,341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,Female,Female,Female,87,82,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,...,2020-02-23,http://www.garcia-hernandez.com/,50,298,50,9.105063,87,26.342012,66.780671,448
207,208,Male,Male,Male,65,81,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,...,2021-05-17,http://duncan.com/,50,207,52,25.243812,65,61.323751,63.774584,836
808,809,Male,Male,Male,50,43,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,...,2021-06-23,https://www.gallegos.org/,50,808,83,25.395355,50,12.716527,37.572176,528
822,823,Female,Female,Female,7,23,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,...,2021-05-12,https://www.jordan-wolf.info/,50,822,72,50.629387,7,60.221071,24.740357,431
992,993,Male,Male,Male,57,25,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,...,2021-10-04,https://www.roberson-knapp.org/,50,992,31,5.312856,57,22.750866,45.583622,263

#### Set index

In [101]:
# set new_index column as index

DF.set_index("new_index", inplace=True)
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
new_index,,,,,,,,,,,,,,,,,,,,,
453,231,Female,Female,Female,37,79,4ae3d1e39eBA622,Vernon,Warner,Monroe-Mccoy,...,tzimmerman@moore.com,2021-09-08,http://holt.org/,50,230,24,3.146530,37,74.260413,49.420138
435,819,Female,Female,Female,5,76,271dffEbDb9f816,Colton,Sandoval,Villarreal-Lang,...,mosleyheidi@walter.com,2021-02-18,http://www.perkins.com/,50,818,1,99.114474,5,22.824853,10.941618
5,502,Female,Female,Female,37,68,8bDC7FCd0bDD1A3,Rhonda,Cook,Pennington-Lee,...,rollinscristian@harvey.com,2020-05-14,http://www.nielsen-davidson.com/,50,501,30,98.315146,37,65.377420,46.459140
30,749,Male,Male,Male,61,9,72D47bcC2bbAA9d,Rodney,Underwood,Griffin-Lam,...,tracihayden@clarke-little.biz,2020-07-21,https://olsen.info/,50,748,61,39.359677,61,45.298957,55.766319
341,916,Male,Male,Male,81,94,344A16A0C7feBCf,Donna,Webster,"Fernandez, Wong and Briggs",...,krausetom@buckley.org,2022-03-10,http://herrera.com/,50,915,49,7.612422,81,12.473477,58.157826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,299,Female,Female,Female,87,82,f09df5de7A2CD82,Tanner,Hernandez,Mooney Inc,...,sheri28@pollard-drake.org,2020-02-23,http://www.garcia-hernandez.com/,50,298,50,9.105063,87,26.342012,66.780671
836,208,Male,Male,Male,65,81,3D60AEa0bAd4fcD,Raven,Weaver,Bray PLC,...,hutchinsonmartin@shelton-burnett.com,2021-05-17,http://duncan.com/,50,207,52,25.243812,65,61.323751,63.774584
528,809,Male,Male,Male,50,43,684befCF02AeFf7,Tony,Shannon,Gutierrez PLC,...,bailey25@parks.net,2021-06-23,https://www.gallegos.org/,50,808,83,25.395355,50,12.716527,37.572176
431,823,Female,Female,Female,7,23,BD1deD31a3aA0DE,Rachel,Watts,Holloway-Nolan,...,kelliroy@sawyer-barker.com,2021-05-12,https://www.jordan-wolf.info/,50,822,72,50.629387,7,60.221071,24.740357
263,993,Male,Male,Male,57,25,b87FD93cE2b0D61,Colin,Kaufman,Myers Group,...,robersonjanice@peterson-herring.com,2021-10-04,https://www.roberson-knapp.org/,50,992,31,5.312856,57,22.750866,45.583622

#### sort index

In [102]:
# sort dataframe by new index

DF.sort_index(inplace=True)
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
new_index,,,,,,,,,,,,,,,,,,,,,
0,241,Male,Male,Male,30,67,2b6af79868F386f,Wyatt,Mclean,"Flowers, Kline and Bass",...,ckrueger@cervantes.com,2020-01-19,https://barnes.com/,50,240,36,22.040962,30,33.536170,31.178723
1,894,Female,Female,Female,92,82,690D995dAF9f4c4,Lacey,Boone,Kim-Nash,...,estuart@stein.com,2021-11-18,https://espinoza.com/,50,893,28,98.603649,92,39.094642,74.364881
2,458,Female,Female,Female,90,73,2FdF7253F607D57,Reginald,Blankenship,"Holmes, Warner and Barrett",...,plawson@reyes.com,2022-05-10,https://www.small.com/,50,457,59,27.585790,90,68.654319,82.884773
3,80,Male,Male,Male,36,15,0EcdF5f157A10BE,Adrienne,Lamb,"Henderson, Vega and Jensen",...,butlerroberta@mullen-pittman.net,2021-05-03,http://www.mann.com/,50,79,70,98.285655,36,62.702484,44.900828
4,514,Female,Female,Female,92,9,fdC0B083Cae9B4e,Claire,Schaefer,Lynch-Pittman,...,hannah33@leach-frey.com,2021-01-21,http://www.dominguez-higgins.com/,50,513,24,61.388513,92,1.474538,61.824846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,813,Male,Male,Male,55,98,EDA3D13E1858dF5,Tricia,Leon,Lutz-Spears,...,brendantodd@curtis-gross.com,2021-11-04,http://sawyer-ellison.org/,50,812,64,78.681564,55,39.648007,49.882669
996,113,Male,Male,Male,51,74,1f239d0e0b92118,Jaime,Hayden,Higgins Ltd,...,mrowe@forbes-holmes.org,2021-12-10,http://randolph-stewart.info/,50,112,29,77.116379,51,31.647644,44.549215
997,130,Female,Female,Female,46,71,0c7B750FeEabe41,Stacey,Travis,Medina-Castro,...,ygarcia@andrade.com,2021-01-16,http://schaefer.com/,50,129,39,29.730318,46,76.745834,56.248611
998,866,Female,Female,Female,90,19,3d4AEe4F87bccd1,Brenda,Estrada,"Lee, Pearson and Parsons",...,hardinrebekah@burton.org,2020-02-17,http://marks.info/,50,865,11,83.738859,90,69.641208,83.213736
999,472,Male,Male,Male,70,91,9572F1AbCFCF09b,Karen,Burton,Stein-Hess,...,gary29@craig.org,2021-04-09,https://warner.info/,50,471,70,78.963366,70,26.700201,55.566734

In [103]:
#sort dataframe by descending  by index

DF.sort_index(ascending=False, inplace=False)
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
new_index,,,,,,,,,,,,,,,,,,,,,
0,241,Male,Male,Male,30,67,2b6af79868F386f,Wyatt,Mclean,"Flowers, Kline and Bass",...,ckrueger@cervantes.com,2020-01-19,https://barnes.com/,50,240,36,22.040962,30,33.536170,31.178723
1,894,Female,Female,Female,92,82,690D995dAF9f4c4,Lacey,Boone,Kim-Nash,...,estuart@stein.com,2021-11-18,https://espinoza.com/,50,893,28,98.603649,92,39.094642,74.364881
2,458,Female,Female,Female,90,73,2FdF7253F607D57,Reginald,Blankenship,"Holmes, Warner and Barrett",...,plawson@reyes.com,2022-05-10,https://www.small.com/,50,457,59,27.585790,90,68.654319,82.884773
3,80,Male,Male,Male,36,15,0EcdF5f157A10BE,Adrienne,Lamb,"Henderson, Vega and Jensen",...,butlerroberta@mullen-pittman.net,2021-05-03,http://www.mann.com/,50,79,70,98.285655,36,62.702484,44.900828
4,514,Female,Female,Female,92,9,fdC0B083Cae9B4e,Claire,Schaefer,Lynch-Pittman,...,hannah33@leach-frey.com,2021-01-21,http://www.dominguez-higgins.com/,50,513,24,61.388513,92,1.474538,61.824846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,813,Male,Male,Male,55,98,EDA3D13E1858dF5,Tricia,Leon,Lutz-Spears,...,brendantodd@curtis-gross.com,2021-11-04,http://sawyer-ellison.org/,50,812,64,78.681564,55,39.648007,49.882669
996,113,Male,Male,Male,51,74,1f239d0e0b92118,Jaime,Hayden,Higgins Ltd,...,mrowe@forbes-holmes.org,2021-12-10,http://randolph-stewart.info/,50,112,29,77.116379,51,31.647644,44.549215
997,130,Female,Female,Female,46,71,0c7B750FeEabe41,Stacey,Travis,Medina-Castro,...,ygarcia@andrade.com,2021-01-16,http://schaefer.com/,50,129,39,29.730318,46,76.745834,56.248611
998,866,Female,Female,Female,90,19,3d4AEe4F87bccd1,Brenda,Estrada,"Lee, Pearson and Parsons",...,hardinrebekah@burton.org,2020-02-17,http://marks.info/,50,865,11,83.738859,90,69.641208,83.213736
999,472,Male,Male,Male,70,91,9572F1AbCFCF09b,Karen,Burton,Stein-Hess,...,gary29@craig.org,2021-04-09,https://warner.info/,50,471,70,78.963366,70,26.700201,55.566734

## Rename Columns and index with rename()

In [107]:
# Rename Column

# rename column and creates a copy of the original dataframe

DF.rename(columns={"Gender":"Gender_New"})
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text3,text1,Average
new_index,,,,,,,,,,,,,,,,,,,,,
0,241,Male,Male,Male,30,67,2b6af79868F386f,Wyatt,Mclean,"Flowers, Kline and Bass",...,ckrueger@cervantes.com,2020-01-19,https://barnes.com/,50,240,36,22.040962,30,33.536170,31.178723
1,894,Female,Female,Female,92,82,690D995dAF9f4c4,Lacey,Boone,Kim-Nash,...,estuart@stein.com,2021-11-18,https://espinoza.com/,50,893,28,98.603649,92,39.094642,74.364881
2,458,Female,Female,Female,90,73,2FdF7253F607D57,Reginald,Blankenship,"Holmes, Warner and Barrett",...,plawson@reyes.com,2022-05-10,https://www.small.com/,50,457,59,27.585790,90,68.654319,82.884773
3,80,Male,Male,Male,36,15,0EcdF5f157A10BE,Adrienne,Lamb,"Henderson, Vega and Jensen",...,butlerroberta@mullen-pittman.net,2021-05-03,http://www.mann.com/,50,79,70,98.285655,36,62.702484,44.900828
4,514,Female,Female,Female,92,9,fdC0B083Cae9B4e,Claire,Schaefer,Lynch-Pittman,...,hannah33@leach-frey.com,2021-01-21,http://www.dominguez-higgins.com/,50,513,24,61.388513,92,1.474538,61.824846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,813,Male,Male,Male,55,98,EDA3D13E1858dF5,Tricia,Leon,Lutz-Spears,...,brendantodd@curtis-gross.com,2021-11-04,http://sawyer-ellison.org/,50,812,64,78.681564,55,39.648007,49.882669
996,113,Male,Male,Male,51,74,1f239d0e0b92118,Jaime,Hayden,Higgins Ltd,...,mrowe@forbes-holmes.org,2021-12-10,http://randolph-stewart.info/,50,112,29,77.116379,51,31.647644,44.549215
997,130,Female,Female,Female,46,71,0c7B750FeEabe41,Stacey,Travis,Medina-Castro,...,ygarcia@andrade.com,2021-01-16,http://schaefer.com/,50,129,39,29.730318,46,76.745834,56.248611
998,866,Female,Female,Female,90,19,3d4AEe4F87bccd1,Brenda,Estrada,"Lee, Pearson and Parsons",...,hardinrebekah@burton.org,2020-02-17,http://marks.info/,50,865,11,83.738859,90,69.641208,83.213736
999,472,Male,Male,Male,70,91,9572F1AbCFCF09b,Karen,Burton,Stein-Hess,...,gary29@craig.org,2021-04-09,https://warner.info/,50,471,70,78.963366,70,26.700201,55.566734

In [108]:
# rename multiple columns and update the dataframe with inplace argument

DF.rename(columns={"text3":"text0","text1":"text2"},inplace=True)
DF

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text0,text2,Average
new_index,,,,,,,,,,,,,,,,,,,,,
0,241,Male,Male,Male,30,67,2b6af79868F386f,Wyatt,Mclean,"Flowers, Kline and Bass",...,ckrueger@cervantes.com,2020-01-19,https://barnes.com/,50,240,36,22.040962,30,33.536170,31.178723
1,894,Female,Female,Female,92,82,690D995dAF9f4c4,Lacey,Boone,Kim-Nash,...,estuart@stein.com,2021-11-18,https://espinoza.com/,50,893,28,98.603649,92,39.094642,74.364881
2,458,Female,Female,Female,90,73,2FdF7253F607D57,Reginald,Blankenship,"Holmes, Warner and Barrett",...,plawson@reyes.com,2022-05-10,https://www.small.com/,50,457,59,27.585790,90,68.654319,82.884773
3,80,Male,Male,Male,36,15,0EcdF5f157A10BE,Adrienne,Lamb,"Henderson, Vega and Jensen",...,butlerroberta@mullen-pittman.net,2021-05-03,http://www.mann.com/,50,79,70,98.285655,36,62.702484,44.900828
4,514,Female,Female,Female,92,9,fdC0B083Cae9B4e,Claire,Schaefer,Lynch-Pittman,...,hannah33@leach-frey.com,2021-01-21,http://www.dominguez-higgins.com/,50,513,24,61.388513,92,1.474538,61.824846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,813,Male,Male,Male,55,98,EDA3D13E1858dF5,Tricia,Leon,Lutz-Spears,...,brendantodd@curtis-gross.com,2021-11-04,http://sawyer-ellison.org/,50,812,64,78.681564,55,39.648007,49.882669
996,113,Male,Male,Male,51,74,1f239d0e0b92118,Jaime,Hayden,Higgins Ltd,...,mrowe@forbes-holmes.org,2021-12-10,http://randolph-stewart.info/,50,112,29,77.116379,51,31.647644,44.549215
997,130,Female,Female,Female,46,71,0c7B750FeEabe41,Stacey,Travis,Medina-Castro,...,ygarcia@andrade.com,2021-01-16,http://schaefer.com/,50,129,39,29.730318,46,76.745834,56.248611
998,866,Female,Female,Female,90,19,3d4AEe4F87bccd1,Brenda,Estrada,"Lee, Pearson and Parsons",...,hardinrebekah@burton.org,2020-02-17,http://marks.info/,50,865,11,83.738859,90,69.641208,83.213736
999,472,Male,Male,Male,70,91,9572F1AbCFCF09b,Karen,Burton,Stein-Hess,...,gary29@craig.org,2021-04-09,https://warner.info/,50,471,70,78.963366,70,26.700201,55.566734

#### Rename index

In [109]:
# rename index 999, 998, 997
DF.rename(index={999:"A",998:"B",997:"C"})

,Index,GGGender,GGender,Gender,text,text5,Customer Id,First Name,Last Name,Company,...,Email,Subscription Date,Website,New Column,New Column 2,New Column 3,New Column 4,text0,text2,Average
new_index,,,,,,,,,,,,,,,,,,,,,
0,241,Male,Male,Male,30,67,2b6af79868F386f,Wyatt,Mclean,"Flowers, Kline and Bass",...,ckrueger@cervantes.com,2020-01-19,https://barnes.com/,50,240,36,22.040962,30,33.536170,31.178723
1,894,Female,Female,Female,92,82,690D995dAF9f4c4,Lacey,Boone,Kim-Nash,...,estuart@stein.com,2021-11-18,https://espinoza.com/,50,893,28,98.603649,92,39.094642,74.364881
2,458,Female,Female,Female,90,73,2FdF7253F607D57,Reginald,Blankenship,"Holmes, Warner and Barrett",...,plawson@reyes.com,2022-05-10,https://www.small.com/,50,457,59,27.585790,90,68.654319,82.884773
3,80,Male,Male,Male,36,15,0EcdF5f157A10BE,Adrienne,Lamb,"Henderson, Vega and Jensen",...,butlerroberta@mullen-pittman.net,2021-05-03,http://www.mann.com/,50,79,70,98.285655,36,62.702484,44.900828
4,514,Female,Female,Female,92,9,fdC0B083Cae9B4e,Claire,Schaefer,Lynch-Pittman,...,hannah33@leach-frey.com,2021-01-21,http://www.dominguez-higgins.com/,50,513,24,61.388513,92,1.474538,61.824846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,813,Male,Male,Male,55,98,EDA3D13E1858dF5,Tricia,Leon,Lutz-Spears,...,brendantodd@curtis-gross.com,2021-11-04,http://sawyer-ellison.org/,50,812,64,78.681564,55,39.648007,49.882669
996,113,Male,Male,Male,51,74,1f239d0e0b92118,Jaime,Hayden,Higgins Ltd,...,mrowe@forbes-holmes.org,2021-12-10,http://randolph-stewart.info/,50,112,29,77.116379,51,31.647644,44.549215
C,130,Female,Female,Female,46,71,0c7B750FeEabe41,Stacey,Travis,Medina-Castro,...,ygarcia@andrade.com,2021-01-16,http://schaefer.com/,50,129,39,29.730318,46,76.745834,56.248611
B,866,Female,Female,Female,90,19,3d4AEe4F87bccd1,Brenda,Estrada,"Lee, Pearson and Parsons",...,hardinrebekah@burton.org,2020-02-17,http://marks.info/,50,865,11,83.738859,90,69.641208,83.213736
A,472,Male,Male,Male,70,91,9572F1AbCFCF09b,Karen,Burton,Stein-Hess,...,gary29@craig.org,2021-04-09,https://warner.info/,50,471,70,78.963366,70,26.700201,55.566734

## Filtering data with Pandas

In [20]:
import os
os.listdir()

['.ipynb_checkpoints',
 'Basic.ipynb',
 'customers-1000.csv',
 'Exercise.ipynb',
 'freecodecamp.ipynb',
 'freecodecampNumpyPandas.ipynb',
 'laptop_price.csv',
 'laptop_price2.csv',
 'New Folder',
 'Notes & Problems.ipynb',
 'Project_Web_Scraping_using_Pandas.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb']

In [2]:
df_laptops = pd.read_csv('laptop_price2.csv')
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,96,Asus,Zenbook UX430UA,Ultrabook,14.0,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.25kg,1049.00
95,97,Acer,Spin 5,2 in 1 Convertible,13.3,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows 10,1.5kg,847.00
96,98,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.2kg,599.90
97,99,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,256GB SSD,AMD Radeon R5 M430,Linux,2.2kg,485.00
98,100,Asus,X541UV-DM1439T (i3-7100U/6GB/256GB/GeForce,Notebook,15.6,Full HD 1920x1080,Intel Core i3 7100U 2.4GHz,6GB,256GB SSD,Nvidia GeForce 920M,Windows 10,2kg,577.00

### 1. Filter dataframe based on a single condition

In [23]:
# find which rows have "Apple" in the "company" column

df_laptops["Company"] == "Apple"

0      True
1      True
2     False
3      True
4      True
      ...
94    False
95    False
96    False
97    False
98    False
Name: Company, Length: 99, dtype: bool

In [24]:
# filter dataframe based on condition

df_laptops[df_laptops["Company"] == "Apple"]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
14,15,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M m3 1.2GHz,8GB,256GB SSD,Intel HD Graphics 615,macOS,0.92kg,1262.40
15,16,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1518.55
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
26,27,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,1099.00
34,35,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,998.00
45,46,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.0GHz,8GB,256GB SSD,Intel Iris Graphics 540,macOS,1.37kg,1419.00
81,83,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,macOS,0.92kg,1510.00

In [26]:
# verify which companies are in the "company" column with value_counts()

df_laptops[df_laptops["Company"] == "Apple"].value_counts("Company")

Company
Apple    14
Name: count, dtype: int64

In [24]:
df_laptops.value_counts(["Company","Ram"])

Company    Ram
Dell       8GB     15
HP         8GB     10
Apple      8GB     10
HP         4GB      9
Asus       8GB      6
                   ..
Chuwi      4GB      1
HP         16GB     1
MSI        16GB     1
           8GB      1
Microsoft  4GB      1
Name: count, Length: 23, dtype: int64

In [29]:
# find which rows don't have "HP" in the "Company" column

df_laptops["Company"] != "HP"

0      True
1      True
2     False
3      True
4      True
      ...
94     True
95     True
96     True
97     True
98     True
Name: Company, Length: 99, dtype: bool

In [66]:
df_laptops[df_laptops["Company"] != "HP"].value_counts("Company")

Company
Dell         24
Asus         17
Apple        14
Acer         11
Lenovo        9
MSI           2
Chuwi         1
Microsoft     1
Name: count, dtype: int64

In [31]:
# find laptops with price over 2000 euros

df_laptops[df_laptops["Price_euros"] > 2000].value_counts("Product")

Product
MacBook Pro    4
GS73VR 7RG     1
Name: count, dtype: int64

In [32]:
df_laptops[df_laptops["Price_euros"] > 2000]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2139.97
12,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2439.97
17,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,2858.00
58,59,MSI,GS73VR 7RG,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 2TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.43kg,2449.00

### 1.1 create a column based on 1 condition using np.where()

In [1]:
import numpy as np

In [8]:
# create an array based on price tiers

np.where(df_laptops["Price_euros"] > 2000, "Expensive", "Cheap")

array(['Cheap', 'Cheap', 'Cheap', 'Expensive', 'Cheap', 'Cheap',
       'Expensive', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Expensive', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Expensive',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Expensive', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap', 'Cheap',
       'Cheap', 'Cheap', 'Cheap', 'Cheap'], dtype='<U9')

In [40]:
# set it to a new column

df_laptops["Price_tier"] = np.where(df_laptops["Price_euros"] > 2000, "Expensive", "Cheap")

# show first 5 rows of the updated dataframe

df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_tier
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap

In [41]:
# count values in price_tier column

df_laptops.value_counts("Price_tier")

Price_tier
Cheap        94
Expensive     5
Name: count, dtype: int64

In [43]:
# create a new column classify based on screen size

df_laptops["Screen Size"] = np.where(df_laptops["Inches"] >= 15, "Big Screen", "Small Screen")
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price_tier,Screen Size
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Cheap,Small Screen
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap,Small Screen
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap,Big Screen
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive,Big Screen
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Cheap,Small Screen

## Filter dataframe based on multiple conditions

In [12]:
# find Apple laptops   -  df_laptops["Company"]== "Apple"

# find laptops that cost more than 2000 euros   -  df_laptops["Price_euros"] >= 2000

### and - &

In [32]:
# find Apple laptops that cost more than 2000 euros

(df_laptops["Company"]== "Apple") & (df_laptops["Price_euros"] >= 2000)  # brackets are mandatory

0     False
1     False
2     False
3      True
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Length: 99, dtype: bool

In [22]:
# filter dataframe based on multiple conditions

df_laptops["Apple and Expensive"] = np.where((df_laptops["Company"]== "Apple") & (df_laptops["Price_euros"] >= 2000), "Both", "Not both")
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Apple and Expensive
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Not both
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Not both
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Not both
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Both
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Not both

## or - |

In [123]:
# find Apple laptops or laptops that cost more than 2000 euros

(df_laptops["Company"]== "Apple") | (df_laptops["Price_euros"] >= 2000)  # brackets are mandatory

0      True
1      True
2     False
3      True
4      True
      ...
94    False
95    False
96    False
97    False
98    False
Length: 99, dtype: bool

In [124]:
# filter dataframe based on either of the two conditions

df_laptops["Apple or Expensive"] = np.where((df_laptops["Company"]== "Apple") | (df_laptops["Price_euros"] >= 2000), "Either", "Neither")
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Apple or Expensive
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Either
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Either
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Neither
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Either
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Either

In [125]:
# find laptops from Apple or Dell that cost over 2000 euros

df_laptops["(Apple or Dell) but Expensive"] = np.where((((df_laptops["Company"]== "Apple") | (df_laptops["Company"]== "Dell")) & (df_laptops["Price_euros"] >= 2000)), "Satisfied", "Not Satisfied")
df_laptops.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Apple or Expensive,(Apple or Dell) but Expensive
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Either,Not Satisfied
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Either,Not Satisfied
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Neither,Not Satisfied
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Either,Satisfied
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Either,Not Satisfied

## Creating a conditional column from more than 2 choices using np.select()

In [128]:
# create an array based on multiple price tiers (more than 2 choices)

# create "conditions" and "values" variables
df_laptops = pd.read_csv('laptop_price2.csv')
conditions = [
    df_laptops["Price_euros"]>3000,
    (df_laptops["Price_euros"]>2000) & (df_laptops["Price_euros"]<=3000),
    (df_laptops["Price_euros"]>1000) & (df_laptops["Price_euros"]<=2000),
    df_laptops["Price_euros"]<1000
]
values = ['Too Expensive','Expensive','Affordable','Cheap']

# set it to a new column

df_laptops['Price Categorization']=np.select(conditions, values,default='unknown')
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price Categorization
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Affordable
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,96,Asus,Zenbook UX430UA,Ultrabook,14.0,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.25kg,1049.00,Affordable
95,97,Acer,Spin 5,2 in 1 Convertible,13.3,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows 10,1.5kg,847.00,Cheap
96,98,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,1TB HDD,AMD Radeon R5 M430,Linux,2.2kg,599.90,Cheap
97,99,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,256GB SSD,AMD Radeon R5 M430,Linux,2.2kg,485.00,Cheap
98,100,Asus,X541UV-DM1439T (i3-7100U/6GB/256GB/GeForce,Notebook,15.6,Full HD 1920x1080,Intel Core i3 7100U 2.4GHz,6GB,256GB SSD,Nvidia GeForce 920M,Windows 10,2kg,577.00,Cheap

### isin() method : Single Filtering

In [129]:
# select Apple or HP laptops

df_laptops["Company"].isin(["Apple","HP"])

0      True
1      True
2      True
3      True
4      True
      ...
94    False
95    False
96    False
97    False
98    False
Name: Company, Length: 99, dtype: bool

In [135]:
# filter database on the above condition

df_laptops[df_laptops["Company"].isin(["Apple","HP"])]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price Categorization
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Affordable
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,83,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,macOS,0.92kg,1510.00,Affordable
82,84,HP,ProBook 440,Notebook,14.0,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.63kg,860.00,Cheap
86,88,HP,Pavilion 15-CK000nv,Ultrabook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD,Nvidia GeForce GTX 940MX,Windows 10,1.83kg,699.00,Cheap
87,89,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.96kg,598.99,Cheap
92,94,HP,Probook 430,Notebook,13.3,Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,512GB SSD,Intel UHD Graphics 620,Windows 10,1.49kg,1197.00,Affordable

### isin() method : Multiple Filtering

In [139]:
# find notebooks or ultrabook from Apple or HP

filter1 = df_laptops["TypeName"].isin(["Notebook","Ultrabook"])
filter2 = df_laptops["Company"].isin(["Apple","HP"])
df_laptops[filter1 & filter2]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price Categorization
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Affordable
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Cheap
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Cheap
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Expensive
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,83,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,macOS,0.92kg,1510.00,Affordable
82,84,HP,ProBook 440,Notebook,14.0,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.63kg,860.00,Cheap
86,88,HP,Pavilion 15-CK000nv,Ultrabook,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD,Nvidia GeForce GTX 940MX,Windows 10,1.83kg,699.00,Cheap
87,89,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.96kg,598.99,Cheap
92,94,HP,Probook 430,Notebook,13.3,Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,512GB SSD,Intel UHD Graphics 620,Windows 10,1.49kg,1197.00,Affordable

In [140]:
df_laptops[filter1 & filter2].value_counts("Company")

Company
HP       20
Apple    14
Name: count, dtype: int64

In [141]:
df_laptops[filter1 & filter2].value_counts("TypeName")

TypeName
Notebook     18
Ultrabook    16
Name: count, dtype: int64

### Find duplicate rows with the .duplicated() method

In [143]:
# find duplicates in laptop_ID column and show the rows having the same

df_laptops[df_laptops.duplicated("laptop_ID")]

Empty DataFrame
Columns: [laptop_ID, Company, Product, TypeName, Inches, ScreenResolution, Cpu, Ram, Memory, Gpu, OpSys, Weight, Price_euros, Price Categorization]
Index: []

In [146]:
# find duplicates in 2 or more columns

df_laptops[df_laptops.duplicated(["Product","TypeName","Inches"])].sort_values(["Product","TypeName"])

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price Categorization
10,11,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,500GB HDD,Intel HD Graphics 620,No OS,1.86kg,393.90,Cheap
11,12,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4GB,500GB HDD,Intel HD Graphics 520,No OS,1.86kg,344.99,Cheap
38,39,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4GB,1TB HDD,Intel HD Graphics 620,Windows 10,1.86kg,488.69,Cheap
64,66,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.86kg,690.00,Cheap
66,68,HP,250 G6,Notebook,15.6,1366x768,Intel Core i3 6006U 2GHz,4GB,500GB HDD,AMD Radeon 520,Windows 10,1.86kg,438.69,Cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,46,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.0GHz,8GB,256GB SSD,Intel Iris Graphics 540,macOS,1.37kg,1419.00,Affordable
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1158.70,Affordable
79,81,HP,ProBook 470,Notebook,17.3,Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce 930MX,Windows 10,2.5kg,977.00,Cheap
33,34,Dell,XPS 13,Ultrabook,13.3,Touchscreen / Quad HD+ 3200x1800,Intel Core i7 8550U 1.8GHz,16GB,512GB SSD,Intel UHD Graphics 620,Windows 10,1.2kg,1869.00,Affordable
89,91,Dell,XPS 13,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,8GB,256GB SSD,Intel UHD Graphics 620,Windows 10,1.21kg,1649.00,Affordable

Find the cheapest and most expensive laptops of each companies usig sort_values and duplicated methods

In [147]:
# sort dataframe ascending by company and price - cheapest first and most expensive last

df_laptops = df_laptops.sort_values(["Company","Price_euros"])
df_laptops

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price Categorization
36,37,Acer,Aspire 3,Notebook,15.6,1366x768,Intel Core i3 7130U 2.7GHz,4GB,1TB HDD,Intel HD Graphics 620,Linux,2.1kg,367.0,Cheap
54,55,Acer,Aspire 3,Notebook,15.6,1366x768,Intel Core i3 7100U 2.4GHz,4GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.4kg,384.0,Cheap
74,76,Acer,Aspire E5-475,Notebook,14.0,1366x768,Intel Core i3 6006U 2GHz,8GB,1TB HDD,Intel HD Graphics 520,Windows 10,2.1kg,389.0,Cheap
84,86,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,1TB HDD,AMD Radeon R5,Windows 10,2.1kg,395.0,Cheap
5,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.0,Cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,63,Lenovo,IdeaPad 520S-14IKB,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Core i3 7130U 2.7GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.7kg,599.0,Cheap
21,22,Lenovo,Legion Y520-15IKBN,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.5kg,999.0,Cheap
73,75,MSI,GL72M 7RDX,Gaming,17.3,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.7kg,1095.0,Affordable
58,59,MSI,GS73VR 7RG,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 2TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.43kg,2449.0,Expensive
70,72,Microsoft,Surface Laptop,Ultrabook,13.5,Touchscreen 2256x1504,Intel Core i5 7200U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 620,Windows 10 S,1.252kg,1089.0,Affordable

In [148]:
# check all value categories in "company" column

df_laptops.value_counts("Company")

Company
Dell         24
HP           20
Asus         17
Apple        14
Acer         11
Lenovo        9
MSI           2
Chuwi         1
Microsoft     1
Name: count, dtype: int64

In [149]:
# duplicated values in "Company" column - default - keep='first'

duplicated_first = df_laptops.duplicated('Company',keep='first')

In [150]:
# show dataframe with duplicated values in "company" column

df_laptops[duplicated_first]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Price Categorization
54,55,Acer,Aspire 3,Notebook,15.6,1366x768,Intel Core i3 7100U 2.4GHz,4GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.4kg,384.0,Cheap
74,76,Acer,Aspire E5-475,Notebook,14.0,1366x768,Intel Core i3 6006U 2GHz,8GB,1TB HDD,Intel HD Graphics 520,Windows 10,2.1kg,389.0,Cheap
84,86,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,1TB HDD,AMD Radeon R5,Windows 10,2.1kg,395.0,Cheap
5,6,Acer,Aspire 3,Notebook,15.6,1366x768,AMD A9-Series 9420 3GHz,4GB,500GB HDD,AMD Radeon R5,Windows 10,2.1kg,400.0,Cheap
78,80,Acer,Aspire A515-51G-32MX,Notebook,15.6,Full HD 1920x1080,Intel Core i3 7130U 2.7GHz,4GB,1TB HDD,Nvidia GeForce MX130,Windows 10,2.2kg,530.0,Cheap
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,78,Lenovo,IdeaPad 320-15IKBN,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,2TB HDD,Intel HD Graphics 620,No OS,2.2kg,519.0,Cheap
68,70,Lenovo,V310-15ISK (i5-7200U/4GB/1TB/FHD/W10),Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,4GB,1TB HDD,Intel HD Graphics 620,Windows 10,1.9kg,549.0,Cheap
62,63,Lenovo,IdeaPad 520S-14IKB,Notebook,14.0,IPS Panel Full HD 1920x1080,Intel Core i3 7130U 2.7GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.7kg,599.0,Cheap
21,22,Lenovo,Legion Y520-15IKBN,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.5kg,999.0,Cheap
58,59,MSI,GS73VR 7RG,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,16GB,256GB SSD + 2TB HDD,Nvidia GeForce GTX 1070,Windows 10,2.43kg,2449.0,Expensive

In [153]:
# show dataframe with non duplicated values in "Company" column with lowest prices

df_laptops[~duplicated_first][["Company","Price_euros"]]

      Company  Price_euros
36       Acer       367.00
1       Apple       898.94
20       Asus       191.90
30      Chuwi       244.99
25       Dell       418.64
67         HP       229.00
35     Lenovo       249.00
73        MSI      1095.00
70  Microsoft      1089.00

In [155]:
# show dataframe with highest laptop prices of each companies

duplicated_last = df_laptops.duplicated('Company',keep='last')
df_laptops[~duplicated_last][["Company","Price_euros"]]

      Company  Price_euros
95       Acer       847.00
17      Apple      2858.00
65       Asus      1983.00
30      Chuwi       244.99
33       Dell      1869.00
92         HP      1197.00
21     Lenovo       999.00
58        MSI      2449.00
70  Microsoft      1089.00

In [156]:
# keep =False, gives unique (having no duplicates) values in a column

duplicated_false = df_laptops.duplicated('Company',keep=False)
df_laptops[~duplicated_false][["Company","Price_euros"]]

      Company  Price_euros
30      Chuwi       244.99
70  Microsoft      1089.00

### Drop duplicate elements with the .drop_duplicates() method

In [169]:
df_laptops = df_laptops.sort_values(["Company","Price_euros"])

# Note: If we don't sort the values, we the first or last occurence of the duplicate value will be returned
# Note: inplace = true/False can be used

In [163]:
df_laptops.drop_duplicates(["Company"],keep="first")[["Company","Price_euros"]]  # gives laptop with lowest price for each companies

      Company  Price_euros
36       Acer       367.00
1       Apple       898.94
20       Asus       191.90
30      Chuwi       244.99
25       Dell       418.64
67         HP       229.00
35     Lenovo       249.00
73        MSI      1095.00
70  Microsoft      1089.00

In [164]:
df_laptops.drop_duplicates(["Company"],keep="last")[["Company","Price_euros"]]  # gives laptop with highest price for each companies

      Company  Price_euros
95       Acer       847.00
17      Apple      2858.00
65       Asus      1983.00
30      Chuwi       244.99
33       Dell      1869.00
92         HP      1197.00
21     Lenovo       999.00
58        MSI      2449.00
70  Microsoft      1089.00

In [167]:
df_laptops.drop_duplicates(["Company"],keep=False)[["Company","Price_euros"]]

      Company  Price_euros
30      Chuwi       244.99
70  Microsoft      1089.00

In [171]:
df_laptops.drop_duplicates(["Company"],keep="last",ignore_index=True)[["Company","Price_euros"]]  # the resulting axis will be labeled as 0,1,2,...

     Company  Price_euros
0       Acer       847.00
1      Apple      2858.00
2       Asus      1983.00
3      Chuwi       244.99
4       Dell      1869.00
5         HP      1197.00
6     Lenovo       999.00
7        MSI      2449.00
8  Microsoft      1089.00

### Get and Count Unique values - unique() and nunique() methods

In [45]:
df_laptops = pd.read_csv('laptop_price2.csv')

In [176]:
# get unique elements in the "Company" column

df_laptops["Company"].unique()

array(['Apple', 'HP', 'Acer', 'Asus', 'Dell', 'Lenovo', 'Chuwi', 'MSI',
       'Microsoft'], dtype=object)

In [177]:
# get unique elements in the "inches" column

df_laptops["Inches"].unique()

array([13.3, 15.6, 15.4, 14. , 12. , 11.6, 17.3, 10.1, 13.5])

In [179]:
# get the number of unique elements in the Company column

len(df_laptops["Company"].unique())

9

In [180]:
# get the number of unique elements in the Company column - Another method

df_laptops["Company"].nunique()

9

In [5]:
states=["Kerala","Kerala","Kerala", "TN","Karnataka","Telengana"]
actors=["Mohanlal","Mohanlal","Mohanlal","Rajanikanth","Yash","Prabhas"]
salary=[50000,70000,80000,50000,90000,40000]

#storing lists within a dictionary

dict_data={"State":states,"Actor":actors,"Salary":salary}

#creating the dataframe

DFN = pd.DataFrame(dict_data)
DFN

       State        Actor  Salary
0     Kerala     Mohanlal   50000
1     Kerala     Mohanlal   70000
2     Kerala     Mohanlal   80000
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [6]:
DFN.duplicated("Actor",keep='first')
#DFN[DFN.duplicated("Actor",keep='first')]

0    False
1     True
2     True
3    False
4    False
5    False
dtype: bool

In [32]:
DFN[~(DFN.duplicated("Actor",keep='first'))]

       State        Actor  Salary
0     Kerala     Mohanlal   50000
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [33]:
DFN[DFN.duplicated("Actor",keep='last')]

    State     Actor  Salary
0  Kerala  Mohanlal   50000
1  Kerala  Mohanlal   70000

In [34]:
DFN[~(DFN.duplicated("Actor",keep='last'))]

       State        Actor  Salary
2     Kerala     Mohanlal   80000
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [35]:
DFN[DFN.duplicated("Actor",keep=False)]

    State     Actor  Salary
0  Kerala  Mohanlal   50000
1  Kerala  Mohanlal   70000
2  Kerala  Mohanlal   80000

In [36]:
DFN[~(DFN.duplicated("Actor",keep=False))]

       State        Actor  Salary
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [37]:
DFN.drop_duplicates("Actor",keep='first')

       State        Actor  Salary
0     Kerala     Mohanlal   50000
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [38]:
DFN.drop_duplicates("Actor",keep='last')

       State        Actor  Salary
2     Kerala     Mohanlal   80000
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [39]:
DFN.drop_duplicates("Actor",keep=False)

       State        Actor  Salary
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [40]:
states1=["kerala","KErela","KeRAla", "TN","Karnataka","Telengana"]
actors1=["Mohanlal","Mohanlal","Mohanlal","Rajanikanth","Yash","Prabhas"]
salary1=[50000,70000,80000,50000,90000,40000]

#storing lists within a dictionary

dict_data1={"State":states1,"Actor":actors1,"Salary":salary1}

#creating the dataframe

DFN1 = pd.DataFrame(dict_data1)
DFN1

       State        Actor  Salary
0     kerala     Mohanlal   50000
1     KErela     Mohanlal   70000
2     KeRAla     Mohanlal   80000
3         TN  Rajanikanth   50000
4  Karnataka         Yash   90000
5  Telengana      Prabhas   40000

In [42]:
DFN1.sort_values("State",ascending=True, key=lambda col:col.str.upper())

       State        Actor  Salary
4  Karnataka         Yash   90000
0     kerala     Mohanlal   50000
2     KeRAla     Mohanlal   80000
1     KErela     Mohanlal   70000
5  Telengana      Prabhas   40000
3         TN  Rajanikanth   50000

In [43]:
DFN1.sort_values("State",ascending=True)

       State        Actor  Salary
1     KErela     Mohanlal   70000
4  Karnataka         Yash   90000
2     KeRAla     Mohanlal   80000
3         TN  Rajanikanth   50000
5  Telengana      Prabhas   40000
0     kerala     Mohanlal   50000

In [44]:
DFN1.sort_values("State",ascending=True, key=lambda col:col.str.lower())

       State        Actor  Salary
4  Karnataka         Yash   90000
0     kerala     Mohanlal   50000
2     KeRAla     Mohanlal   80000
1     KErela     Mohanlal   70000
5  Telengana      Prabhas   40000
3         TN  Rajanikanth   50000